[2021-05-06 02:33] pylang opened #580 "Opt-out of sudo - allow sudo=False to work with --sudo"
## Is your feature request related to a problem? Please describe

More than 2/3s of my tasks use sudo.  However, passing `sudo=True` to all operations that use them (e.g. anything uses `apt.packages()`) is a lot of copy/pasting.

## Describe the solution you'd like

- Is there a DRYer way of using sudo?
- Can I turn off warnings at runtime that complain about using `sudo=False` with `--sudo`?
- Ca

[2021-05-06 08:22] Fizzadar commented on #575
@giuppep this sounds like a bug in the `server.SystemdSstatus` fact, I think anything `active (exited)` should be considered running. Will take this opportunity to look at all the statues systemd might use as well.

[2021-05-06 08:25] Fizzadar commented on #580
@pylang to fix the default argument you could set sudo as a config variable, ie:

[code]

This would avoid needing to pass it as a CLI argument every invokation.

Regarding the warnings - you raise an issue here where the global configured defaults (CLI arg or config) for an operation may differ from operation specific auth arguments and should not show any warning in those cases. So the warning c

[2021-05-06 08:27] Fizzadar commented on #577
:+1: definitely an expected behaviour so counting this as a bug.

[2021-05-06 08:29] Fizzadar commented on #576
Interesting! I suspect this is a similar issue [to the quoting of`sed` commands](https://github.com/Fizzadar/pyinfra/commit/62cdd1e21783fff98389980dc584fed09af8945f), will start by looking there!

[2021-05-06 14:28] kkirsche opened #581 "Add last login time to `host.fact.users`"
## Is your feature request related to a problem? Please describe
Many corporate environments have requirements related to identifying and removing "stale" user accounts on servers. This is often then delegated to system owners for identification based on the last login date/time of the user. This leads to one-off shell scripts and other ad-hoc methods of achieving this.

## Describe the solution y

[2021-05-07 12:48] gnat commented on #577
Thanks for the quick response @Fizzadar You rock!

[2021-05-07 13:05] gnat commented on #577
Something to consider: a `group_data/local.py` loaded after `group_data/all.py` when using `@local` .

However to keep `@local` conventions extra simple, I'm also happy with `group_data/all.py` doing double duty as the local config by convention. I admire the simplicity of this.

[2021-05-08 02:25] gnat opened #582 "files.sync() does not preserve original file mode."
## Describe the bug
Some of my uploaded directories contain code files in mode 750 (-rwx-r-x----), they are being re-mode to 664 (rw-rw-r--). I suspect files.sync() is not checking the original mode of the file on host machine.

Seems like mode is only applied if it is supplied explicitly: https://github.com/Fizzadar/pyinfra/blob/e150ddb4794044418aeabb7d49c8e0ce265163a5/pyinfra/operations/files.py

[2021-05-08 02:27] gnat commented on #582
Not such a big deal for file.put(), but for file.sync() I think it's reasonable to expect mode consistency. Would be nice for file.put() too, though.

[2021-05-11 21:14] Pimmelton opened #584 "cache_time handling in operations.apt module broken in pyinfra v1.4"
## Describe the bug
Using the 'cache_time' argument in apt.update() or apt.packages() causes deploy to fail with an unexpected exception.

This started after updating to pyinfra v1.4.  Before that the same code ran without error.

## To Reproduce
Steps to reproduce the behavior (include code & usage example):

### Sample code (in file cache_time_test.py)

    from pyinfra.operations import apt

[2021-05-11 21:19] Pimmelton commented on #584
After playing around a bit, I discovered that the code runs with 'cache_time=0'.  Any value >0 causes the error (as do negative integers). Only 0 works.

[2021-05-12 02:51] hazayan opened #585 "Add support for openbsd's doas"
Openbsd phased out the use of `sudo` for privilege escalation for a while now and replaced with its own `doas`. It would be nice to have support added for `doas` to avoid directly connecting with root in order to perform tasks that require super user privileges.

[2021-05-12 16:39] wilypomegranate opened #586 "Ability to load other templates"
## Is your feature request related to a problem? Please describe
When using ```files.template``` it would be handy to be able to load relative templates to create complex jinja templates.

## Describe the solution you'd like
I think changing get_template to allow for using a FileSystemLoader referenced to the current working directory would work.

Something like

[code]

[2021-05-13 06:23] 4bo opened #587 "Error: could not load fact: deb_packages"
trying to run a simple command on a debian 10 target by pyinfra 1.4:
[code]
i get:
[code]
the problem is with sudo part, non sudo commands is ok

[2021-05-13 10:02] Fizzadar commented on #577
I just checked on this and the `group_data/all.py` file does appear to be loaded, so long as it's relative to the current directory...

Regarding the `local.py`, this is already possible but with `@local.py`!

Eg:

[code]

With files:

[code]

[2021-05-13 10:53] Fizzadar commented on #587
@4bo if you add `use_sudo_password=true` it should prompt for the password so this will work!

Currently there is no automatic detection of when a sudo password is required; there's [an issue tracking this here](https://github.com/Fizzadar/pyinfra/issues/318).

[2021-05-13 12:06] Fizzadar commented on #586
👍 big fan of this. I think it needs to use the "deploy directory" as the root point, which is either cwdir or the folder in which the (first) deploy file lives. There's some issues with the deploy dir thing but that needn't affect this!

[2021-05-13 12:06] Fizzadar commented on #585
👍 keen to get this implemented!

[2021-05-13 12:09] Fizzadar commented on #582
I'm definitely considering this a bug in `files.sync`, as you say could lead to some sketchy permissions issues for sure!

Will have a think about `files.put`, there's also `files.get` which should really replicate in reverse. Quite like the explicit-ness of passing `mode=` there.

[2021-05-13 12:10] Fizzadar commented on #584
Thank you for spotting this @Pimmelton! Going to test / fix this ASAP!

[2021-05-13 12:35] Pimmelton commented on #584
My pleasure.  Glad to contribute to this great project.

[2021-05-13 15:01] wilypomegranate commented on #586
Yeah that makes sense. I tried a quick test with the FileSystemLoader and it seems to work.

[2021-05-13 21:05] gnat commented on #577
Investigated this further and found the bug-- This only works on `@local` when the task directory is 1 level deep, otherwise it breaks. This bug only appears when running `@local` (ssh connector works as intended). Examples:

`pyinfra @local tasks/audit.py` Works!
`pyinfra @local blahblah/test.py` Works!
`pyinfra @local tasks/all/audit.py` Fails to load `host.data`.
`pyinfra @local tasks/staging/t

[2021-05-14 07:37] Fizzadar commented on #577
Aha, this is a rubbish limitation of how pyinfra figures out the "deploy directory". I think a simple fix here is to work from the task directory up all the way to the current directory. This would also be the expected handling, I believe.

Things get messy when executing multiple files (currently pyinfra will only consider the first for the deployment directory), or multiple folders containing `g

[2021-05-14 08:00] gnat commented on #577
Agreed, I cannot think of one either.

[2021-05-14 08:04] gnat commented on #582
Agreed. Honestly not a high priority compared to `files.sync()`

[2021-05-14 13:19] mjmare opened #588 "Make CLI less verbose by coupling inventory to deploy"
I find that I find the PyInfra CLI somewhat cumbersome. Maybe I'm using it wrong, or maybe not.

In a typical deploy I have to do some tasks on my local system, and only then proceed to do actions on the remote system. Because PI forces me to specify the inventory I have to split the deployment in two deploys, say 01-build.py and 02-deploy.py. Then, because I'm lazy I create two xonsh (could be ba

[2021-05-14 13:32] mjmare opened #589 "Please provide more extensive documentation on how to use the @docker and @dockerssh connectors"
Having some experience with the Docker support in Ansible (https://docs.ansible.com/ansible/latest/collections/community/docker/index.html#plugins-in-community-docker) I'm a bit puzzled by the docker connectors in PyInfra.
Given the fact that, surprisingly, no pyinfra docker operations exist, I presume that the connectors are the way to go.
I think some more documentation on this topic would be us

[2021-05-14 13:51] Fizzadar commented on #576
I've been digging into this and am struggling to re-create the issue, I've setup an example to just echo out the quoted value as it makes it easier to debug:

[code]

Output:

[code]

This does appear to be correctly quoting and printing `['<Primary>q']` as expected? @alexandrunastase would you mind testing with this example as well, there could be something else going on here.

[2021-05-15 05:48] alexandrunastase commented on #576
Hey Nick. Thanks again for taking a look into this.

So I think I found an even better way of reproducing the issue.

[code]
Output from pyinfra is a file containing `[<Primary>q]`. So no single quotes and no double quotes in this case

But when running the command directly in the terminal

[code]
the output is quoted as expected: `"['<Primary>q']"`

[2021-05-15 08:16] Fizzadar commented on #576
Thanks for the update - I believe this is actually due to Python escaping the `\"` even within the triple quotes; for example the following works as expected:

[code]

I think the triple backslashes are unavoidable in getting Python to correctly include the single one in the final command:

[code]

[2021-05-15 14:17] alexandrunastase commented on #576
Thanks for the reply. I was not aware of this. I assumed this trippe single quotes allows any quotes inside. Your example works indeed for the writing correctly into the file, but I tried escpating the double quotes with the tripple backslashes for the dconf example at the beginning and that didn't work. Do you have any idea how that could be fixed?

[2021-05-15 15:40] Fizzadar commented on #576
I believe the fix would be to wrap the string in double quotes, ie:

```''' dconf write /org/gnome/desktop/wm/keybindings/close "\\\"['<Primary>q']\\\"" '''```

I can test with `dconf` itself but this appears to correctly print out with both the double and single quotes included:

[code]

[2021-05-15 16:21] Fizzadar commented on #575
Fixed this in https://github.com/Fizzadar/pyinfra/commit/a54ac6f07849054ccf35700771d6e15186a80e33; now released in `v1.4.1`!

[2021-05-15 16:21] #575 closed, assigned to Fizzadar

[2021-05-15 16:22] Fizzadar commented on #577
I've now reworked the deploy directory detection in https://github.com/Fizzadar/pyinfra/commit/966a6c2cb434a7af4e318a068e2a28e527a231f7, which handles any levels of nesting as described, as well as being clearer about how this works. Released just now in `v1.4.1`!

[2021-05-15 16:22] #577 closed, assigned to Fizzadar

[2021-05-15 16:23] Fizzadar commented on #580
Pushed https://github.com/Fizzadar/pyinfra/commit/9f3255934be976e1fbc92276e9b00d0f24043533 which disables the warnings in the described scenario, and just released in `v1.4.1`! Going to close this issue now as I believe this is everything resolved.

[2021-05-15 16:23] #580 closed, assigned to Fizzadar

[2021-05-15 16:26] Fizzadar opened #590 "Copy existing file permissions in `files.put` operation"
Copy existing permissions when uploading files in the `files.put` operation. Maybe not default, but could have an API with `mode=True` which triggers this, same as `files.sync`.

Also think about the same for `files.get`.

[2021-05-15 16:26] Fizzadar commented on #582
Now fixed/implemented for `files.sync` in https://github.com/Fizzadar/pyinfra/commit/40377d98b43aa041661676a1c1e0a58675d46636 and released in `v1.4.1`! I've added https://github.com/Fizzadar/pyinfra/issues/590 to track potential implementation for `files.put`/`files.get`.

[2021-05-15 16:26] #582 closed, assigned to nobody

[2021-05-15 16:27] Fizzadar commented on #584
I've fixed this in https://github.com/Fizzadar/pyinfra/commit/0ab90dde09e5e373a416dbd1740b5acf5ddbeded and just released `v1.4.1`!

[2021-05-15 16:27] #584 closed, assigned to Fizzadar

[2021-05-15 19:01] Pimmelton commented on #584
Cool!  Can't wait to give it a try.  Thanks!

[2021-05-15 22:58] gnat opened #591 "@local does not honor USE_SUDO_PASSWORD"
## Describe the bug
`USE_SUDO_PASSWORD` does not seem to work in the same way on `@local` as it does on `@ssh`

This bug is a bit insidious because if you run the same command multiple times in a row, it may work depending on your local machine.

## To Reproduce
Using `@local`

[code]

## Expected behavior
Pretty sure this is just an oversight, config globals should ideally work in the same way as

[2021-05-15 22:59] gnat commented on #577
Working! Great work @Fizzadar !!

[2021-05-15 23:11] gnat commented on #582
Thanks @Fizzadar, works perfectly.

[2021-05-16 11:12] alexandrunastase commented on #576
So I tried this exact thing in this file : https://github.com/alexandrunastase/pyinfra-dconf-issue-repro/blob/main/up.py .

The escaping seems to be alright in the created file, but somehow the dconf command is still not executed properly, although the return code seems to be 0. Maybe there is something else that I am missing, apart from the quoting.

[2021-05-16 17:35] hendursaga commented on #585
I doubt there are very many if any differences, but supporting FreeBSD's port of doas would be great as well!

[2021-05-16 21:51] morrison12 opened #592 "casks not supported with brew 2.6.0 and later"
## Describe the bug
In brew 2.6.0 (https://brew.sh/2020/12/01/homebrew-2.6.0/), the CLI for casks was changed, e.g. instead of `brew cask list` one now has to use `brew list --cask`.  This breaks the related facts and operations.

## To Reproduce
`pyinfra @local fact brew_casks` gives an error:
[code]

as does `pyinfra @local brew.cask magic plot` :
[code]
## Expected behavior
`pyinfra @local brew

[2021-05-17 12:41] giuppep commented on #575
Looks like it's working fine now. Thanks a lot for fixing 😃

(By the way, great job on the library, I really like it! 😉 )

[2021-05-19 16:22] Fizzadar commented on #591
Hmm - no matter what I do I cannot replicate this one! If you switch to doing `USE_SUDO_PASSWORD = True` does it prompt and work as expected?

The config variables are handled outside of the connector scope so should be applied identically for both `@ssh` & `@local`...

[2021-05-19 16:23] Fizzadar commented on #588
I like this idea, not quite sure on a good CLI that wouldn't clash with existing commands/etc, but I'm keen to implement this or similar!

[2021-05-19 16:25] Fizzadar commented on #589
The connectors are used to define where `pyinfra` executes, i.e `@docker` can be used to build docker containers using pyinfra operations. The documentation can be found here: https://docs.pyinfra.com/en/1.x/connectors.html - this does indeed need some expansion & improvement!

In addition, there are some basic `docker` facts (https://docs.pyinfra.com/en/1.x/facts/docker.html), but no actual opera

[2021-05-19 16:54] Fizzadar commented on #592
Thank you for the fix @morrison12; I've just released this in `v1.4.2`!

[2021-05-19 16:54] #592 closed, assigned to nobody

[2021-05-20 07:24] mjmare commented on #589
Thank you, I hadn't noticed! Since there are no Docker operations I hadn't bothered to look at the facts.

Maybe you could implement them and use it as a tutorial on how to go about creating a set of operations? (I do realise you probably have a lot of other things on your plate!)

[2021-05-22 17:59] sysadmin75 opened #596 "User comment with spaces in host.fact.users doesn't parse correctly"
## Describe the bug
A user with a comment with spaces does not parse correctly in the host.fact.users.

## To Reproduce
Steps to reproduce the behavior (include code & usage example):

Update the test using the following patch:
[code]
The output for the two users with the changes:
[code]

## Expected behavior
A clear and concise description of what you expected to happen.

Pytest `pytest tests/tes

[2021-05-22 18:32] Fizzadar opened #598 "SSH enable forwarding data variable"
idea source: https://stackoverflow.com/questions/67272230/pyinfra-forwarding-ssh-agent

## Is your feature request related to a problem? Please describe
Sometimes it may not be possible to enable SSH forwarding via SSH config.

## Describe the solution you'd like
Add a `ssh_enable_forwarding` data variable to the `@ssh` connector to explicitly enable SSH forwarding.

[2021-05-24 04:32] BandungBB opened #599 "dnf.packages does notr accept mixed case package names"
## Describe the bug
I can not install a fedora package using dnf.package() because the package names are converted to all lowercase before pyinfra hands them off to it's internal dnf processing script.

## To Reproduce
dnf.packages(
        name = "install system tools",
        packages = [
            'NetworkManager',
            'unixODBC-gui-qt',
            'unixODBC',
            ],

[2021-05-24 09:00] Fizzadar commented on #599
Thanks for reporting this, @BandungBB - looks like this was never updated when then `rpm.RpmPackages` fact was updated; I've now corrected this in https://github.com/Fizzadar/pyinfra/commit/e0fc224343648d6b8e60afc65e5a38a07e0c82b3, pending `v1.4.3` release (today most likely).

[2021-05-24 10:57] Senhaji-Rhazi-Hamza opened #600 "@docker/python:3 connector seems to take into account python2 instead of python3"
## Describe the bug
A clear and concise description of what the bug is.
When I try to exec ad hoc command using locally the docker connector @docker with image python3.8, it seems that the image that is taken into account is python2 since it doesn't accept syntax of print with parenthesis ("print()")
## To Reproduce
Steps to reproduce the behavior (include code & usage example):
Here are command t

[2021-05-24 10:58] Senhaji-Rhazi-Hamza commented on #600
Thank you for your awsome work, keep going, it might become the new standard

[2021-05-24 16:44] Pimmelton opened #601 "File operations fail when folder or file name contains parentheses"
## Describe the bug
File operations (sync, put, get) fail when a folder or file name contains parentheses, although these are valid *nix file and folder names.

## To Reproduce

I discovered this whilst attempting to sync a folder containing a Calibre ebooks library.  Calibre uses the following on-disk structure throughout the library:  "a_calibre_library/author name/book title (1)" where the numb

[2021-05-29 15:08] sysadmin75 commented on #600
I think this is an issue with quoting your docker command.  This is what I got to work.
[code]

[2021-05-29 18:40] Senhaji-Rhazi-Hamza commented on #600
Thank you, it works for me too, so I'll close the issue, I will also point that it might be useful to point the attention in the documentation to this quote behavior

[2021-05-29 18:40] #600 closed, assigned to nobody

[2021-05-30 16:53] Fizzadar commented on #596
Thank you once again for fixing this @sysadmin75; I've just released this in `v1.4.3`!

[2021-05-30 16:53] #596 closed, assigned to nobody

[2021-05-30 16:53] Fizzadar commented on #599
Just (at last) released this in `v1.4.3`!

[2021-05-30 16:53] #599 closed, assigned to Fizzadar

[2021-05-30 16:56] Fizzadar commented on #601
Thanks for spotting this @Pimmelton! I'm keen to properly fix this issue once and for all. The new command API classes will properly quote this, but has yet to be implemented for the `files.*` operations & facts. I've got a WIP PR setup now (https://github.com/Fizzadar/pyinfra/pull/603) tracking implementing this which will resolve this issue!

(Will also be adding tests for this specific case!).

[2021-05-30 17:09] Pimmelton commented on #601
Nice, thanks!

[2021-05-30 20:32] BandungBB commented on #599
I appreciate you doing this do quickly. I wasn't expecting such a quick turn around. Thanks!

Sent from my iPad

[2021-06-10 12:56] gnat commented on #572
Can confirm in 1.4.3, I am experiencing this issue.

First server works fine, the rest will fail.

Short term solutions that have worked for me:
* `PARALLEL=1` in config.py.
* Pass `--limit=` when running `pyinfra`

Error:
[code]

[2021-06-10 13:00] gnat commented on #572
Also thanks @Fizzadar for pro-actively tracking this issue, I appreciate that.

[2021-06-10 14:38] gnat opened #605 "Reboot, and exit successfully without returning. (Encrypted disk)"
## Is your feature request related to a problem? Please describe
Is there any way to run `reboot` and immediately trigger success or exit pyinfra successfully?

## Use Case
Encrypted servers. Pyinfra shouldn't expect to come back from a reboot when servers must have their disks decrypted first.

This is an important feature in 2021 because we now have GDPR and other new data protection laws which

[2021-06-10 14:43] gnat commented on #605
An option to immediately trigger success of a task is the quick and easy solution that is workable for most users right now, but I'm also open to the idea of pyinfra gaining the ability to decrypt the server itself (SSH into dropbear, run cryptroot-unlock) but that may be more of a future wishlist item.

[2021-06-11 13:34] gnat commented on #605
Been thinking about decryption a little more for the wishlist item in the future. There's quite a few ways to decrypt at boot. Thought I'd add my notes here.

Non-Interactive:
* `echo -ne "password" > /lib/cryptsetup/passfifo`
* `ssh -i key user@IP "echo -ne \"password\"  > /lib/cryptsetup/passfifo"`

Interactive:
* `/lib/cryptsetup/askpass "Enter password:" > /lib/cryptsetup/passfifo`
* `/bin/cry

[2021-06-13 21:16] yggdr commented on #585
This might be the right point to also start supporting Solaris'/Illumos' `pfexec`, and maybe unify the interface of using them? Instead of having various `use_<UTIL>_login`, `use_<UTIL>_password`, `preserve_<UTIL>_env`, remove the specific name, and provide a new parameter like e.g. `priv_tool` that can be set to one of the supported methods. Then I could write in my deploys `files.file(..., priv_

[2021-06-14 17:22] yggdr commented on #329
Do you already have plans on which python 3 version you'll support once you drop python3? Will it stay with 3.5+, or will you go higher, like 3.6+ which seems to be supported on older LTS versions of major Linux distributions like CentOS and Ubuntu.

Have you given any thought about replacing gevent with native async?

[2021-06-18 22:22] Pimmelton commented on #572
Confirmed in v1.4.4 when I ran a deploy against real machines rather than the usual cohort of lxd instances I typically test with that don't require a password for SUDO.  Adding "use_sudo_password=True" to operations triggered the issue as soon as I ran the deploy against more than one machine.  The issue was observed during dry run as well as the actual deploy.

PARALLEL=1 in config.py was a viab

[2021-06-24 15:12] Jobrowncsm opened #610 "Update Jinja2 minimum version (jinja2 v3.x compatibility check)"
## Is your feature request related to a problem?
Flask has increased minimum Jinja2 version to 3.x. To use Flask 2.x a separate deployment environment would be need to me maintained.

## Describe the solution you'd like
Update Jinja2 version.

[2021-06-24 16:43] Fizzadar commented on #572
Finally got to the bottom of this - reuse of the same `StringIO` object; fixed in https://github.com/Fizzadar/pyinfra/commit/07f9d6c80612f12e0faf394d54c9cb1929c42577 & released just now in `v1.4.5`!

[2021-06-24 16:43] #572 closed, assigned to Fizzadar

[2021-06-24 16:44] Fizzadar commented on #601
This should now be properly handled/fixed in `v1.4.5` which contains the various commits from https://github.com/Fizzadar/pyinfra/pull/603 that implement proper shell quoting for filenames.

[2021-06-24 17:13] Pimmelton commented on #601
Did you test with parentheses in filenames and paths, or just spaces (as a quick examination of the testing branch yesterday seemed to indicate)?  I still get this error when running my original test case against 1.4.5.

[2021-06-24 17:17] Pimmelton commented on #572
Fix confirmed.  Deploys no longer need PARALLEL=1 to work properly.

[2021-06-25 09:36] Fizzadar commented on #601
I did! But I've just realised while the operations work, the facts do not 🤦.

[2021-06-27 16:38] Fizzadar commented on #329
Hi @yggdr! I'm thinking Python 3.6+ as 3.5 has been EOL for a while now.

Regarding native async - that entirely depends on paramiko (https://github.com/paramiko/paramiko/issues/389) - currently this works because gevent monkey patches the stdlib, allowing the non-async paramiko code to run asynchronously. Good thing is this works extremely well so there's no particular pressure to move to native

[2021-06-27 16:41] Fizzadar commented on #601
This should now be properly resolved in `v1.4.6` per https://github.com/Fizzadar/pyinfra/commit/dc8265b40da780ec57f85e783129d14b71d13769 which contains tests for both operations & facts where the paths need quoting.

[2021-06-28 01:36] benridley opened #614 "server.script fails when using non-privileged users over SSH"
## Describe the bug
When using a non-privileged user for SSH, and then executing a `server.script` operation with `sudo=True` and `sudo_user=<unprivileged_user>`, the operation fails with the error:

`File upload error: mv: cannot move '/tmp/pyinfra-a52ee0536b1bfb3242676133b584ab07879526c4' to '/tmp/pyinfra-a5ab867674785ba103efd18d20f57084bef199fb': Operation not permitted`

## To Reproduce
Ensure

[2021-06-28 14:48] Pimmelton commented on #601
Confirmed fixed using both my contrived test cases and real deploy.

Nicely done, and thanks.

[2021-06-28 14:51] Fizzadar commented on #601
Excellent news, thanks for confirming that!

[2021-06-28 14:51] #601 closed, assigned to Fizzadar

[2021-06-28 21:29] blarghmatey opened #615 "Exception raised trying to collect facts for file"
## Describe the bug
When attempting to execute the `files.file` or `files.directory` operations defined [here](https://github.com/mitodl/ol-infrastructure/blob/main/src/bilder/components/hashicorp/steps.py#L71-L93) an exception is raised while attempting to execute the file fact.

This error is new as of v1.4.5 and v1.4.6. Previous versions work without error.

## To Reproduce
Clone the repository

[2021-06-29 08:30] Fizzadar commented on #615
🤦 had not tested the operations with `Path` objects. I've added tests for non-string `StringCommand` bits in https://github.com/Fizzadar/pyinfra/commit/2e4053f28f278e873499f6b716f20e4900dbcd1c and handled them in https://github.com/Fizzadar/pyinfra/commit/b91281e9e00106e4c1860b0209aa3bd8abf0ee19. I have just released this in `v1.4.7` which should fix this issue!

[2021-06-29 09:07] Fizzadar commented on #610
Hi @Jobrowncsm! I don't think bumping the minimum version is appropriate here, but expanding the maximum version to v4. I need to double check none of the 2->3 changes break the way `pyinfra` is using the library but I don't believe this is the case. I can then bump it up to allow v3.x as well as 2.x.

[2021-06-29 13:55] blarghmatey commented on #615
Thanks for the quick turnaround!

[2021-06-29 16:55] blarghmatey commented on #615
After testing it is unfortunately not fixed yet. For now I can coerce the `Path` objects to `str` in the function call. Longer term it's a design question of whether you want to support `Path` objects as inputs to the function. If that is the case then it might be beneficial to add a helper that does that coercion early in the function calls for operations that take paths as input to make the inte

[2021-06-30 00:15] benridley commented on #614
I've created a PR at #616 to demonstrate one method of addressing this by using ACLs and copying the file instead of `mv`ing it. There's some issues with it so happy to discuss further how we might address this best.

[2021-07-02 23:45] bikingcoder opened #617 "bsdinit.service (FreeBSD) incorrect status command name"
Out of the box there are a couple of issues with bsdinit.service on FreeBSD (using 12.2).

The [status_command](https://github.com/Fizzadar/pyinfra/blob/current/pyinfra/operations/bsdinit.py#L37) is set to 'check' but in actual fact it should be 'status'. (or somehow both are evaluated if necessary although I've no idea how that would fit in to the current design)

Secondly, the [path](https://git

[2021-07-06 15:56] giuppep opened #619 "Pyinfra tries to collect facts on all hosts"
## Describe the bug
I'm trying to use the [`postgresql.database`](https://docs.pyinfra.com/en/1.x/operations/postgresql.html#postgresql-database) operation to create a database if it's not present on deployment. This should run only on the database server. The other servers do not have `postgresql` installed/running.

[code]
On deployment, `pyinfra` runs the [`postgresql.PostgresqlDatabases`](http

[2021-07-08 10:09] Fizzadar opened #620 "Move `pyinfra.api.connectors` -> `pyinfra.connectors`"
Let's treat them the same as facts or operatinos - they're an integral part of the different ways pyinfra can be used.

[2021-07-08 10:46] Fizzadar commented on #605
Hi @gnat apologies for taking ages to check in on this one; first up I'd like `ignore_errors` to work as expected here, even if it waits for the SSH port to return and then errors I think that's better than nothing, also gives some indication the server has come back.

Regarding decryption - does that mean one can echo the password into `/lib/cryptsetup/passfifo`, then reboot, and have the system

[2021-07-08 10:46] Fizzadar commented on #605
(added bug label for `ignore_errors` not working on `server.reboot` in some situations).

[2021-07-08 10:52] Fizzadar commented on #619
Hi @giuppep! So part of pyinfra's speed comes from the way it runs each fact on each host in parallel - this should not cause a failure though! In fact, there's [specific handling of this situation here](https://github.com/Fizzadar/pyinfra/blob/current/pyinfra/api/facts.py#L292-L305) - but in this case the user isn't going to be added (as far as pyinfra knows).

I also think this issue could crop

[2021-07-08 21:10] gnat commented on #605
@Fizzadar Definitely agreed. Thank you for looking into this!

This method is applicable to the default LUKS (dm-crypt) encryption in most Linux distros.

For remote unlock, there is generally a boot-time ssh daemon added to initramfs (in practice this is usually dropbear, but could also just be sshd). Thankfully, for simplicity, you interact with this exactly the same way as sshd from pyinfra's p

[2021-07-09 19:48] giuppep commented on #619
Hey, thanks for the reply! I agree, not erroring would solve the problem without sacrificing performance. Let me know if you need any more info/I can help in any way :)

[2021-07-12 08:59] Fizzadar commented on #610
I've just released the loosened requirement in v1.4.8.

[2021-07-12 08:59] #610 closed, assigned to Fizzadar

[2021-07-12 09:00] Fizzadar commented on #619
Hi @giuppep this has now been removed in https://github.com/Fizzadar/pyinfra/commit/f9490d347fb1e5132e1454053e85089d7c933917 and released in v1.4.8!

[2021-07-12 09:00] #619 closed, assigned to Fizzadar

[2021-07-12 09:02] Fizzadar opened #622 "Add tests for `files.*` operations using `Path` objects"

[2021-07-12 09:02] Fizzadar commented on #615
This should now be handled properly in https://github.com/Fizzadar/pyinfra/commit/48d6ff7e445856fdc20e971536872dbfcdcf5f4c - `Path` objects should absolutely be supported IMO but the string conversion wasn't in the right place. Have confirmed this is now working properly for both facts & operations.

I've also added https://github.com/Fizzadar/pyinfra/issues/622 to track adding some proper tests f

[2021-07-12 11:50] giuppep commented on #619
Just tested and now it works as expected. Thanks a lot for the very quick fix :)

[2021-07-16 20:13] adabru opened #625 "link to third party extensions in docs"
Related: https://github.com/Fizzadar/pyinfra/issues/12

## Is your feature request related to a problem? Please describe
I'm a newbie to pyinfra and was looking for third party extensions as the core operations and facts are non-extensive. Specifically I couldn't find a ufw or hcloud (hetzner cloud) operation/fact in core (https://docs.pyinfra.com/en/1.x/operations.html). I skimmed through the doc

[2021-07-20 13:01] Fizzadar commented on #614
PR merged & ready for release in `v1.5`!

[2021-07-20 13:13] Fizzadar commented on #598
Implemented in https://github.com/Fizzadar/pyinfra/commit/c4981854680f7e2b6d8ccafbe6217d9bcf11c280, pending release in `v1.5`.

[2021-07-20 15:58] Fizzadar commented on #605
`v1.4.9` (released today) should fix the exception raised above; fixed by https://github.com/Fizzadar/pyinfra/commit/475893027f36d71830fdef9cdb84905375d042db.

[2021-07-21 22:53] benridley commented on #614
Awesome @Fizzadar, thanks again. I validated my existing code against the `next` branch and its all working as expected, so I think we can close this one out.

[2021-07-21 22:53] #614 closed, assigned to benridley

[2021-07-22 08:08] bikingcoder commented on #617
Thanks for working on this! I'm keen to use pyinfra more, and see it as a possible Ansible alternative at day job.

[2021-07-22 09:13] Fizzadar commented on #617
@mcgaw that's great; I'm keen to expand BSD support in pyinfra! I've just released `v1.4.10` which should fix both issues with `bsdinit.service` (https://github.com/Fizzadar/pyinfra/commit/925e967275d97170844379d2e06bc3ae3f057858) - let me know if that works, and also if there's other operations/similar that might be of use in the BSD world :)

[2021-07-26 17:50] blarghmatey commented on #615
So, unfortunately I'm still running into bugs with `Path` arguments. I think the problem is that the type conversion is happening too far down in the stack. What would probably be more robust and easier to maintain is to do the conversion at the perimeter of the system as opposed to doing a whack-a-mole bug hunt.

What I am envisioning is to have a decorator for all operations that accept a Path o

[2021-07-27 01:48] lun-4 opened #632 "pkgin support"
Using https://github.com/Fizzadar/pyinfra/issues/617#issuecomment-884766468 to submit an idea I had!

I have some NetBSD boxes here and there and would like to manage them with pyinfra, one step in that direction would be support for [pkgin](https://pkgin.net/), which is an user-friendly frontend to pkgsrc (which is already "provided" by the `pkg` module).

A new `pkgin` module would be the idea,

[2021-07-28 00:08] benridley commented on #625
I think it'd also be useful to clarify the overall position of the project when it comes to expanding operations. Is it intended to be a 'batteries included' type project where community developed operations are encouraged to be merged into the main project, or do we want to encourage a more modular approach?

I think it'd be useful to have a dedicated registry of pyinfra modules for ease of searc

[2021-07-28 10:20] Fizzadar commented on #615
@blarghmatey agreed - the commit fixes unrelated issues but I definitely jumped the gun a bit here! Would be great to chat real-time about this and understand the issue better before identifying a proper fix (I've emailed you!).

[2021-08-06 10:43] skutter-de opened #635 "container operation"
## Is your feature request related to a problem? Please describe
A lot of software requires docker-compose to be installed. So the workflow would be to deploy a server, install docker/podman and (docker/podman)-compose and then deploy your application using that

## Describe the solution you'd like
An operation to manage docker/podman. The CLI syntax is the same so it shouldn't be much of an issue

[2021-08-09 02:30] karolzlot opened #636 "Hello World example from tutorial doesn't work"
## Describe the bug

I got error as in log below. I repeated command, but the error persist.

[code]

## To Reproduce
`pyinfra @docker/ubuntu:18.04 exec -- echo "hello world"`

## Expected behavior

No error

## Meta
+ Include output of `pyinfra --support`:

[code]

+ How was pyinfra installed (source/pip)?

pip in venv

+ Include pyinfra-debug.log (if one was created)

not created

+ Consider inc

[2021-08-12 09:24] Fizzadar commented on #636
Hi @karolzlot! I believe this is due to the `@docker` trying to execute the local `docker` command insdie a unix `sh` shell. I've not got Windows access currently but need to double check this - I _think_ that both `@docker` and `@local` connectors will be broken due to this.

However - it's possible to override this value via the `--shell-executable` CLI flag. I've not tested but one of these may

[2021-08-13 03:40] karolzlot opened #640 "Feature request: time measurement / operation profiling"
## Is your feature request related to a problem? Please describe

I would like to measure time from pyinfra start to end of all operations. Thanks to this I could easily see speed differences for different instance types and make better decisions.

## Describe the solution you'd like

It is enought if pyinfra would write: "Finished, took 11 min 35 s."

[2021-08-14 16:58] Fizzadar opened #641 "Upgrade to distro 1.6"
Includes the `root_dir` argument so can remove the hack around it in https://github.com/Fizzadar/pyinfra/blob/current/pyinfra/facts/util/distro.py.

[2021-08-14 16:59] Fizzadar opened #642 "Pull request template"
Add hidden note about `current` vs `next` branches.

[2021-08-14 17:03] Fizzadar opened #643 "`Path` type argument coercion"
For maximum compatibility everywhere (temporarily, at least), `Path` objects should be converted into strings once inside pyinfra operation functions.

[2021-08-16 19:03] taranlu-houzz commented on #453
@Fizzadar Not sure if I am doing something wrong (or if it is not meant to be used this way), but it seems that using the `local.include` with a relative path multiple times does not work. If I have a deploy where I would like to group several other deploys (basically sub-tasks), I get an error where it cannot seem to resolve the path correctly. This is my deploy:
[code]

This is the dir structure

[2021-08-16 23:16] int0x80 opened #644 "No running Vagrant instances found"
## Describe the bug
`pyinfra` cannot find a running Vagrant instance.

## To Reproduce
Steps to reproduce the behavior (include code & usage example):

Vagrantfile:

[code]

inventory.py:

[code]

deploy.py:

[code]

Running:

[code]

## Expected behavior
Expected `pyinfra` to run `id` on the VM and install packages and dependencies via `apt`: `git`, `i3`, `tmux`, `vim`.

## Meta
+ Include output

[2021-08-16 23:37] int0x80 commented on #644
Resolved. My approach was incorrect with `inventory.py`.

[code]

Running:

[code]

[2021-08-16 23:37] #644 closed, assigned to nobody

[2021-08-17 20:17] timeisapear opened #645 "Support for operation windows_file.template?"
## Is your feature request related to a problem? Please describe
Perusing the code it appears the windows_file module does not implement the template function, which might be the most immediately useful part of pyinfra for me right off the bat. Am I mistaken and is there a way to use this feature since seemingly the windows_file.put operation just needs to be invoked instead of the file.put at the

[2021-08-18 21:46] taranlu-houzz opened #646 "Global or per-operation class env vars"
## Is your feature request related to a problem? Please describe
Not sure if this is actually a feature that would make sense to add, but this is the issue that I am dealing with:

The command `brew update` used by the `brew.update()` operation automatically stashes any local changes that have been made to brew recipes (one might do this if you need to patch a brew recipe to get at a specific vers

[2021-08-18 21:58] nateph opened #647 "List failed hosts on run"
## Is your feature request related to a problem? Please describe
When I have an operation fail on x amount of hosts, it doesn't allow me to run that same operation on only those failed hosts plus the ones it did not get to if it hit the failure limit easily.

## Describe the solution you'd like
If I have 10 hosts, and my operations succeed on the first 3 and fail on the next 3, and my failure limi

[2021-08-20 18:43] taranlu-houzz commented on #533
Hi @Fizzadar, I am still running into this issue. This is the deploy that I am using:
[code]
When I modify the command param, if the entry already exists in the crontab, then nothing is changed, although the operation reports a "success." Also, modifying the `cron_name` while keeping the command the same does not result in another entry being added (at least, when the modification is to add some t

[2021-08-22 16:49] Fizzadar commented on #640
Hi @karolzlot - I like this idea and would like to expand it to enable time profiling of operation calls everyhwere (time both generate + execute phases for each operation).

For a super quick way to achieve a basic timing for the entire execution, you can use the `time` command on nix systems and there's [a powershell equivalent](https://stackoverflow.com/a/3513669) for Windows systems.

[2021-08-22 16:54] Fizzadar commented on #646
One option here is to use the `ENV` config var which would apply to all operations within a deploy; ie:

[code]

I believe this would provide a suitable solution? Setting environment variables for a given set of operations would be a bit confusing, I think, vs. this global approach.

[2021-08-22 16:56] Fizzadar commented on #647
I like this idea a lot, similar to Ansible retry files. Could go one step further and skip any successful operations on the failed hosts as well.

[2021-08-22 16:56] Fizzadar commented on #645
YES this is 100% needed!

[2021-08-22 16:59] Fizzadar commented on #635
I'm keen to add support for these; perhaps as two separate modules, plus a server operation, ie:

+ `docker.container` (+`docker.network`, etc)
+ `podman.container` (+anything relevant)
+ `server.container` that works like `server.packages` - ie works with both docker & podman whichever is installed

[2021-08-22 17:00] Fizzadar commented on #632
Definitely keen to add support for this!

[2021-08-22 17:08] Fizzadar commented on #625
Apologies for the big delay here - definitely want to implement the suggested ideas.

Regarding project - although the line is not exact, I'd like to keep pyinfra itself limited to "system level single state defintions" (if that makes sense), eg:

- install this apt package
- run this systemd service
- make sure this iptables rule exists

And avoid stuff like:

- deploy this nginx website (ie inst

[2021-08-22 17:13] karolzlot commented on #640
Yes, I am using it like this now and it works good:

[code]

[2021-08-22 17:22] Fizzadar commented on #453
@taranlu-houzz thank you for following up on this, there's a bug in the handling of `exec` file which I've just fixed in https://github.com/Fizzadar/pyinfra/commit/7e81e2475821498a0df97879c64c4fd537897d37 and released in `v1.4.13`.

[2021-08-22 17:23] Fizzadar commented on #644
@int0x80 thank you for raising this - the error in the first instance was definitely not helpful. I've just pushed/released an improvement for that in https://github.com/Fizzadar/pyinfra/commit/aed9f111dc80cd0244f285c45e69f6a677c32d37 / v1.4.13.

[2021-08-22 17:25] Fizzadar commented on #533
Thank you for following up on this @taranlu-houzz; I've not got time to investigate now but I will!

[2021-08-24 15:13] adabru commented on #625
Keeping the project/core siim seems nice to me. Still there are usecases where e.g. "deploy this nginx website" is very desirable for users. I'd also take ufw and hcloud into the same bucket, though with a smaller userbase. As I wouldn't want the core people to bother with that stuff I guessed having separate extensions with separate maintainers is a nice scheme.
That way, e.g. nginx operations/fa

[2021-08-24 17:35] taranlu-houzz commented on #453
@Fizzadar Cool, I will try that out once `v1.4.13` is released. Thanks!

[2021-08-25 15:05] giuppep opened #653 "Possibility to force execution of operation"
## Is your feature request related to a problem? Please describe
Pyinfra collects all facts before running operations. However sometimes an operation could modify this state during execution and as far as I could understand, there is no way to force pyinfra execute an operation.

Example:
At the end of a deploy script we want to make sure that some directory `X` is owned by a given `user:group`. I

[2021-08-28 19:22] jankatins opened #654 "@local + sudo unusable when using PAM fingerprint support in fedora 34"
## Describe the bug
Fedora 34 sets up PAM with support for fingerprint support in PAM. That means I can put my fingerprint on the reader and sudo will let me through. Unfortunate, this means that *every* pyinfra sudo call will ask for a fingerprint which has to time out to finally let the normal password (Which pyinfra supplies in a env variable) take over.

## To Reproduce
Laptop with fingerprint

[2021-08-29 19:11] jankatins commented on #654
Also reported as a feature request to sudo: https://github.com/sudo-project/sudo/issues/112

[2021-09-07 08:50] Fizzadar commented on #654
Hi @jankatins! This sounds incredibly frustrating! It is possible to provide a pty for operations (global argument `get_pty=True`) - however this is per-command so I don't believe it will fix the problem. I'm now wondering if it's possible to have `paramiko` pass around the same PTY between calls - will look into this!

[2021-09-07 13:42] giuppep commented on #653
Hi, I noticed another use case where this could be useful

Let's say we have directory `PARENT` that belongs to `user:group` and this directory has a child `CHILD` that belongs to `other_user:other_group`.

If I want to make sure that all children of `PARENT` belong to `user:group` I would use
[code]
however, given that the `PARENT` directory already belongs to `user:group`, `chown -R` is not run

[2021-09-07 22:34] benridley commented on #588
I like the spirit of this idea, but I think it'd be difficult to do without making deploys opinionated about the hosts they run on. @mjmare it seems to me like this might be achievable if inventory allowed you to specify which connector to use when executing tasks. Then you could do something like:
[code]
In fact you might already be able to do this, I can see some examples in the docs using `@ssh

[2021-09-07 22:41] benridley commented on #588
During my digging through the docs I also found this @mjmare, pyinfra seems to support a [`config.py`](https://docs.pyinfra.com/en/latest/examples/client_side_assets.html) file that will give you access to run tasks locally before making any remote connections. It appears this might suit your use case?

[2021-09-13 13:37] Fizzadar opened #655 "Add `wait_for_lock` argument to relevant `apt.*` operations"
## Describe the solution you'd like

Add a `wait_for_lock` argument to prevent apt operations failing instantly if there is another process holding the apt lock.

Default `False` for compatibility (and possibly prevent hanging operations).

[2021-09-13 18:45] Fizzadar opened #656 "Document operation + fact test JSON spec"

[2021-09-14 09:32] jankatins commented on #654
This sounds like a way to do it: https://github.com/pexpect/ptyprocess (+ whatever magic fairy dust is in https://github.com/pexpect/ptyprocess/issues/48) ... or use pyexpect (https://github.com/pexpect/pexpect/blob/831052254a039531adc91ebfce945d9ca54fd00a/pexpect/pty_spawn.py) directly?

Would then look very similar to what I understand the ssh one does: open a session, run commands one after ano

[2021-09-16 18:18] Fizzadar opened #657 "Document sudo/su interaction"
Order in which they are called is super important to the result when using both. Add documentation on this.

[2021-09-18 16:31] karolzlot commented on #640
It would be also helpful to have the current time for each line in `-vvv` output. I could then see how long time each command within `.sh` script took.

[2021-09-22 06:43] themanifold opened #661 "Allowing docker user to be specified"
Allow the docker user to be specified when building a docker image. At the moment, we can already specify the ssh user (`--user, --ssh-user`) and winrm user (`--winrm-username`), so it would make sense to have a `--docker-user` or something similar that will allow us to build an image using a specific user that is not root. This of course is dependent on that user being available in the image.

[2021-09-22 08:24] themanifold opened #662 "Syntactically correct python in inventory file fails if not matching inventory specification"
If you specify a syntactically python inventory file, but also one that does not match what pyinfra requires in its inventory spec, you'll see no error which is confusing.

For example, an inventory file (called `bad_inventories.py`) can look like this:

[code]
which is incorrect as the bracket for specifying data associated with the host `'b'` is in the wrong place so that there's a third host th

[2021-09-22 12:39] Fizzadar commented on #588
Historically I have achieved this kind of thing using `config.py` as @benridley suggested - specifically for things like building frontend bundles with webpack before uploading. It should also be possible to achieve in one (see below) but any operations that rely on local files generated by local commands will fail because those files will not exist until after operations start to execute.

[code]

[2021-09-22 18:58] oz123 opened #663 "`file.put` fails if `dest` is a directory"
## Describe the bug
Using `files.put` as:

[code]

Results in the following error:
[code]

Which is pretty cryptic...

## To Reproduce
Use as above.

## Expected behavior
One can use `files.put` as  with regular `sftp` or other unix commands `mv`, `cp`, which allow to ommit file name if the path is directory.

## Meta
+ Include output of `pyinfra --support`.
[code]
+ How was pyinfra installed (sou

[2021-09-24 10:24] gchazot opened #666 "[APT] Add policy/preference-related facts/operations/options"
## Is your feature request related to a problem? Please describe
In some cases it is useful to force or ban specific versions of packages from being installed, at the initial installation step, as well as in downstream upgrade steps. This can be managed through [`apt-cache policy`  (aka "preferences") features](https://debian-handbook.info/browse/stable/sect.apt-get.html#sect.apt.priorities).

The

[2021-09-25 10:14] Fizzadar commented on #662
This is super important, a real gotcha without any validation currently.

[2021-09-25 11:49] Fizzadar commented on #663
Thank you for fixing this @oz123; this is now live in `v1.4.15`.

[2021-09-25 11:49] #663 closed, assigned to nobody

[2021-09-25 12:53] Fizzadar opened #667 "Replace `postgresql_X` with `psql_X` variables"
Much nicer user experience to use `psql_user` rather than `postgresql_user`, etc. Also lines up with the actual command being executed.

[2021-09-25 12:58] Fizzadar opened #668 "Rename `name` -> `path` in Windows file facts"

[2021-09-25 13:05] Fizzadar opened #669 "Remove `Windows*` prefix from windows facts (v2)"
Once the legacy magic `host.fact.X` is no longer in use, the windows prefixes are unncessary, ie can become:

[code]

Such that only the module name has to be different.

[2021-09-29 09:31] themanifold opened #670 "Ignore errors based on stdout/stderr"
Currently, we have a few options to decide when an operation is called success:
1. The exit_code can be chosen to whatever integer and that would be called success
2. We can just always say something is successful
3. And other features such as postconditions and timeouts

What I'm interested in is distinguishing whether something is successful based on the stdout/stderr of the operation. For examp

[2021-09-30 07:31] themanifold opened #671 "ssh host key verification"
Trying to access a server via the pyinfra `ssh` operator that you have never visited before leads to pyinfra hanging because the ssh host key needs to be added on client side.

Workaround: add the ssh host key manually once before using pyinfra.

[2021-10-01 16:53] Fizzadar commented on #666
Hey @gchazot! I like this idea a lot, `apt.policy` would be a great addition to the module.

This could be implemented relatively painlessly in the same way as `[yum|dnf].repo` where they create an in-memory file for the repo and then use `files.put` to ensure it exists (https://github.com/Fizzadar/pyinfra/blob/current/pyinfra/operations/util/packaging.py#L236-L256).

So for your Python example it

[2021-10-03 15:02] Fizzadar commented on #671
I'm not sure what's going on here - at first I couldn't replicate this so I was looking at the SSH connector and noticed that it's never even loading the system host keys (fixed in https://github.com/Fizzadar/pyinfra/commit/ca73172f9fe82a56807ffbf1b169fa818282d133)! How that means when you add them it fixes the issue is even more confusing. Additionally, the missing host key policy was not setup c

[2021-10-03 15:03] Fizzadar commented on #670
I think this is a fantastic idea @themanifold! Would definitely serve a lot of use-cases where exit >0 isn't always a problem.

[2021-10-04 07:04] themanifold opened #672 "Render templated files in dry run (or similar)"
I don't think we have an option of rendering templated files at the moment (before they are applied to target hosts), so this feature would be useful.

[2021-10-04 07:41] themanifold opened #673 "Mention debug-inventory in `--help` dialog"
Mention the `debug-inventory` operation in the `--help` dialog, it only makes sense and it's referenced in the docs already: https://docs.pyinfra.com/en/1.x/deploys.html#data-hierarchy

[2021-10-04 09:44] themanifold commented on #586
Just so I'm understanding this correctly, is this going to fix the inability to use

`{% include 'template/foo.j2 %}`

which currently gives me this error:

[code]

[2021-10-05 00:36] paolodina commented on #671
I have the same problem and the workaround doesn't work.

Initially I was on `v1.4.15` and when realized that I did an upgrade to `v1.4.16` but the I still get this error:

[code]
Btw, manually run the command `sh -c 'ssh -p 22 paolo@localhost uptime` worked as expected.

`paramiko==2.7.2`

[2021-10-05 15:20] oz123 opened #676 "USE_SUDO_PASSWORD works only if it is a hardcode string"
## Describe the bug
I have a script with the following:

[code]

Using `USE_SUDO_PASSWORD = 'mysecretsudopassword'` with:
[code]

works as expected. I am not asked for sudo password.

However, if USE_SUDO_PASSWORD is assigned a value of a called function, e.g. as with the lambda, it fails with:

[code]

## To Reproduce
Call pyinfra with my similar example.

## Expected behavior
I would expect this

[2021-10-06 16:41] Fizzadar commented on #671
@paolodina does this error persist if you try removing the host key (`ssh-keygen -R localhost`)?

Also - is this actually sshd running on localhost? Not sure but that possibly has issues with host keys (need to research). If so you could use the `@local` connector to execute on the local machine.

[2021-10-06 16:43] Fizzadar commented on #676
Hi @oz123 - this is an unfortunate consequence of using AST to parse the config files. The upcoming `v1.5` adds a `pyinfra.config` object that can recieve any type of value and does not go through the AST like this.

You may also set `USE_SUDO_PASSWORD=True` to have pyinfra prompt for the password at runtime, although this is not helpful to integrate with some external system.

I'm going to ensure

[2021-10-06 17:09] Fizzadar commented on #672
I like this idea a lot - the templates are actually rendered already during a dry run they're just inaccessible.

Side thought - a way to drop into a shell post-dry-run would be super helpful for this kind of thing (get access to the live state object directly).

[2021-10-06 18:04] oz123 commented on #676
Yes, using `True` does work and prompt. The problem is that if I have 10s of system, I have to manually write the password for each host, or simply wrap pyinfra with something that writes `config.py`.
Aren't we wall are system admins :'-) who constantly wrap software with more shell glue around?

[2021-10-06 22:35] paolodina commented on #671
I tried to remove the host key, no luck again. I think I'm using `pyinfra` incorrectly and I'll open another issue. @Fizzadar thanks for listening.

[2021-10-11 08:11] benoitjpnet opened #677 "LXD connector"
Hello,

The goal would be to have a LXD connector so we can use it like:

[code]
In the back-end it should probably use `lxc exec <containerName> -- <command>`

Related: #388

Thanks,

[2021-10-16 11:49] sanmai-NL commented on #117
@Fizzadar This issue persists for me under `LC_TIME=nl_NL.UTF-8`:

[code]

CPython 3.8.10
pyinfra: v1.4.17

[2021-10-17 00:08] AbcSxyZ opened #678 "Single quote parsing in `server.shell` commands"
## Describe the bug
Looks like there is an issue with signle quote (`'`) parsing & command creation using `server.shell`.

## To Reproduce
[code]

Will produce :
[code]

## Expected behavior
To have less than 8 quotes around the option.

## Meta
[code]
This `--support` option is really a good idea !

Many thanks for the tool, tried it a couple of times, pleasant to use :)

[2021-10-17 20:57] paolodina opened #679 "Can't get pyinfra work with ssh"
## Describe the bug
Similarly to #671, trying to access a server via the pyinfra ssh operator I keep getting the error "Host key verification failed".

I'm not sure it's a bug or rather I'm doing something wrong.

## To Reproduce
`inventory.py`
[code]

`deploy.py`
[code]

Run with:
[code]
I also tried to run `pyinfra tk deploy.py -vvv --debug` without positive results.

Output:
[code]

**Note 1:**

[2021-10-21 00:16] kkirsche commented on #581
Fixed by #606

[2021-10-21 00:16] #581 closed, assigned to nobody

[2021-10-21 03:21] Forty-Bot opened #681 "distro version requirements too strict"
## Describe the bug
`pyinfra` has too strict requirements on the version of `distro`

## To Reproduce

Upgrade distro to the latest version (1.6.0). `pyinfra` fails with

    pkg_resources.DistributionNotFound: The 'distro==1.5.0' distribution was not found and is required by pyinfra

## Meta
### Include output of `pyinfra --support`.

Impossible to provide due to above error.

### How was pyinfra

[2021-10-21 08:10] Fizzadar commented on #679
@paolodina - thank you for submitting all the detail, super helpful! From the logs there it looks like pyinfra is connecting OK to the remote host, once the initial connect is complete the host keys are no longer checked. The `ssh.command` operation is for executing a SSH command _from_ the target machine; ie `localhost -> tk -> tk`. I believe this is why that's failing. Instead to get uptime dire

[2021-10-21 08:15] Fizzadar commented on #678
Hi @AbcSxyZ this is expected - it is quoted such that the string passed is executed literally, this uses the `shlex` Python stdlib module:

[code]
Is there a specific use-case you have in mind? It would be fairly easy to add a flag to disable such quoting for the `server.shell` operation.

[2021-10-21 08:39] Fizzadar commented on #681
Agreed, will get this changed for upcoming v1.5.

[2021-10-21 08:52] AbcSxyZ commented on #678
I see, there is actually an example in `shlex` [documentation](https://docs.python.org/3/library/shlex.html#shlex.quote) showing this scenario. Looks weird, I'm not able to understand the logic, but seem definitively expected.

When I reported it, I had trouble with a more complex command containing [command substitution](https://www.gnu.org/software/bash/manual/html_node/Command-Substitution.html

[2021-10-21 08:52] #678 closed, assigned to nobody

[2021-10-21 11:14] paolodina commented on #679
@Fizzadar thankyou very much. It was my fault, works like a charm now! For me the issue is solved, close if you like.

[2021-10-21 13:59] Fizzadar commented on #678
I thought I'd added this to my original message, apologies; basically the reason is that double quotes allow variables to be rendered, so wrapping the command `"ls '-l'"` may lead to other problems with variables being rendered. So the workaround, horrible as it is, is just to stop the string, double quote the single quote, and then return to the string!

ie, splitting it into parts:

[code]

Some

[2021-10-21 18:33] ghost opened #682 "host.get_fact(File, pat='PATH') reports False when file does exits"
## Describe the bug
When I use get_fact(File, path=/path) pyinfra reports that files do not exist when they do.

## To Reproduce

my deploy `test.py `
[code]

[code]

## Expected behavior
I expect this to show up as 'True' and it does not, not sure if this is a bug, or more likely I just am doing something very simple that is wrong, but I am trying to evaluate this as an alternative to ansible and

[2021-10-23 17:19] ghost commented on #682
Ok, I figured it out I think, kinda dumb on my part, and surely not a bug, but this was not clear how to use this (to me at least).

I had to do this to make it work:
[code]
or

[code]

Just dumb on my part. Should have read the manual better. Sorry.

[2021-10-23 17:19] #682 closed, assigned to nobody

[2021-10-26 09:43] mjmare opened #683 "binascii.Error: Incorrect padding / paramiko.hostkeys.InvalidHostKey error with v1.4.17 (but not 1.4.14)"
Hi

I'm getting the error below. When reverting to the previous PyInfra version (from 1.4.17 to 1.4.14), everything worked again.
I have recreated both virtualenvs and this behaviour is reproducible.

[code]

[code]

[2021-10-27 10:04] AbcSxyZ opened #684 "facts.docker : Container, image and network exception on invalid item"
## Describe the bug
It seem to have an issue to verify an unexisting network/image/container pyinfra will raise an exception. I compare the behavior of other fact (Directory), and it returns `None` on non-existing fact.

Look like runned command is returning 1 instead of 0. With unavailable file you will use `! test -e unexisting-file || ....` which will return 0 with an empty stdout, while for do

[2021-10-27 10:13] themanifold opened #685 "Add warning when `--limit` pattern has no matches"
If you set a `--limit` pattern that has no matches, then there is no warning that there are no matches in the CLI output, and you'll get something like:

[code]
which really gives no clue that you have no matching hosts. If this is done by accident, you might be left groping in the dark (like I was, I set the wrong inventory file in my case in the CLI flag). So just add a little message saying

[c

[2021-10-27 12:24] themanifold opened #686 "Capturing standard output/error/status from operations"
As far as I can see, there is no way of capturing the output/error output of operations that are run against a server. This would be really useful - for example, you could capture the output of an operation and then use it in the next operation. I know you can do it within one operation using `python.call` but I can't see a way of doing it between operations.

[2021-10-27 16:32] Fizzadar commented on #686
Unfortunately this is a limitation of pyinfra's [execution model](https://docs.pyinfra.com/en/1.x/deploy_process.html), and so there's no way currently to get the output of an operation before execution.

It is possible, however, to get arbitrary information from the target machine during fact gathering using the [`server.Command` fact](https://docs.pyinfra.com/en/1.x/facts/server.html#server-comm

[2021-10-27 16:35] Fizzadar opened #688 "Add approve stage to deploys?"
`pyinfra`'s two-stage execution model means it _could_ behave like other tools in the infrastructure space by not automatically executing. Thinking of `terraform` & `pulumi` in particular.

So my question: should `pyinfra` have an approval pause before execution that shows the operation summary as currently, but waits for the user to confirm, before execution. Combined with a `-y/--yes` argument,

[2021-10-27 17:07] Fizzadar commented on #683
So annoyingly this looks like a bad key entry in your host keys - it's not ideal that this throws loading the rest of them. In v1.4.14 the host keys weren't being loaded at all which was a bug fixed, but has caused multiple issues since. Known host files get manipulated a lot so I'm not surprised.

I'm going to capture errors loading them and display a warning in that situation, as it shouldn't th

[2021-10-27 17:55] mjmare commented on #683
Could there be a bad entry if the key functions normally?

[2021-10-27 18:12] Fizzadar commented on #683
I believe so - if you connect to that host does SSH show any errors/warnings? And are there any other keys for the same host?

AFAIK SSH will simply ignore badly formatted lines, whereas paramiko seems to bail right away.

[2021-10-27 18:15] mjmare commented on #683
When I connect manually I don't get any errors.

[2021-10-28 06:45] themanifold commented on #686
Yes, this is actually great for me. My use case is this:

1. Download a zip file on a remote machine
2. Find the name of the root directory within that zip file
3. Extract the zip file
3. Use the name of that root directory to do other operations

So for me, this is fine I think.

However, it is not inconceivable to think of a case where you need the stdout of a command that has just run, and ther

[2021-10-28 06:58] themanifold commented on #688
Yes, I think this is a good idea. You could even make it two completely separate steps: `pyinfra plan` and `pyinfra apply` just like those tools you mentioned.

[2021-10-28 07:03] themanifold opened #689 "Optional headers for `files.download` operation"
Some endpoints need authentication presented as a custom header before you can download from them. The gitlab archive zip is my use case but there are many others (like artifactory).

This ticket is about adding a `headers` field to the `files.download` operation.

[2021-10-28 07:05] themanifold opened #690 "Custom or disabled SSL verification for `files.download`"
Some endpoints, especially internal corporate endpoints, have self signed or custom CAs that the person issuing pyinfra does not have.

Add 2 options:
* Disable verification of SSL certifications (`curl -k` etc)
* Custom certification location

The workaround right now being to execute curl explicitly within the `server.shell` command.

[2021-10-28 08:41] themanifold commented on #653
I have need for this use case, also.

[2021-10-28 19:08] SudoMike opened #691 "password vault"
Pyinfra2 is missing a useful feature from Ansible, which is the password vault. Oftentimes, you need to use credentials and other secrets in your tasks. For example, you might need to write a config file on the remote host that includes a password. Ideally, task code could do something like this:

[code]

Ideally the vault is specified on the command line, and the password can be in a file:
[code]

[2021-10-29 07:06] Fizzadar commented on #685
Totally agree, treating this as a bug!

[2021-10-29 07:15] Fizzadar commented on #688
I like the two step idea, currently thinking of having the following variants:

[code]

The first variant is "classic pyinfra" and the plan/apply are more specific. I also think apply should always take an input file of operations upfront. This could enable some interesting workflows where the JSON could be used to diff remote hosts and/or plan and apply could be done on a different machines (is t

[2021-10-29 07:16] Fizzadar commented on #688
For context: I'm thinking this is pyinfra v3 territory, and v2 will be breaking for removing python2 + deprecated features.

[2021-10-29 07:19] Fizzadar commented on #686
100% - this is quite a common request. It may be possible to have some kind of object that you can pass between operations that containts the stdout at runtime (but not plan time). This would be very similar to the [dynamic execution example](https://docs.pyinfra.com/en/1.x/examples/dynamic_execution_deploy.html) except that you could pass in the output of a previous operation to the function.

[2021-10-29 07:21] Fizzadar commented on #688
Another note on this (per https://github.com/Fizzadar/pyinfra/issues/686) - not everything is simple to output into JSON - in particular Python functions. It _is_ possible with pickle, but that is potentially a dangerous road to go down. Perhaps a simple solution to that is to allow serializing them, but upon deserialize have some kind of `--allow-unsafe-pickled-opeartions` flag or similar.

[2021-10-29 07:30] themanifold commented on #688
Yes, this is how some modern "gitops" stuff is done with terraform.

In what cases will we have to pickle python functions?

[2021-10-29 07:52] Fizzadar commented on #688
Callback functions from the `python.*` operations are the only place I believe, but I think with a suitably scary sounding flag this is acceptable. It's a pretty rare operation call so for the most part unlikely to be any issue.

[2021-10-29 07:53] #684 closed, assigned to nobody

[2021-10-30 11:36] KuxaBeast opened #692 "Add support for non-POSIX target environments in the SSH connector"
## Description
I tried using pyinfra to write a few operations to deploy my infrastructure consisting of MikroTik RouterBoard-based devices running RouterOS, but found out, that the SSH connector has a hardcoded `sh -c` wrapper function in its code for executing remote commands.

After some investigation I found the culprit is this: (api/connectors/ssh.py:282)
```command = make_unix_command(comman

[2021-10-30 11:41] KuxaBeast commented on #692
Now realized it should've probably been a feature request but, well.

[2021-10-30 17:24] Fizzadar commented on #692
Hi @KuxaBeast - it is currently possible to set _a_ shell, but not disable it. There's two options for this:

+ `shell_executable` global argument passed into operations (https://docs.pyinfra.com/en/1.x/deploys.html#global-arguments)
+ The `SHELL` config variable

What's the target system you're working on, out of interest?

[2021-10-30 18:19] Fizzadar commented on #685
Just added this in https://github.com/Fizzadar/pyinfra/commit/ac4fee853c9e4c24fa9cd0f8f51576712c722b91 & released in `v1.4.18`.

[2021-10-30 18:19] #685 closed, assigned to nobody

[2021-10-30 18:20] KuxaBeast commented on #692
It's RouterOS, a proprietary Linux-based software from Mikrotik, which supports many architectures and devices, mainly their RouterBoards. They have their own implementation of SSH server and scripting command interface.

[2021-10-30 18:21] Fizzadar commented on #683
I've just added a "fix" for errors encountered when loading SSH keys in https://github.com/Fizzadar/pyinfra/commit/52beef021b767cd259c80da137befa49de1c4456 and released in `v1.4.18`, which should prevent this failing going forward. The underlying issue needs to be fixed either in paramiko or your system host keys.

[2021-10-30 18:21] #683 closed, assigned to Fizzadar

[2021-10-30 18:21] #671 closed, assigned to nobody

[2021-10-30 18:22] Fizzadar commented on #673
Just added this in https://github.com/Fizzadar/pyinfra/commit/7f455380e9046da5a81d19dfb070aee3e0712c33 and released in `v1.4.18`.

[2021-10-30 18:22] #673 closed, assigned to nobody

[2021-10-31 08:33] Fizzadar opened #693 "Add --config flag to change the config filename"

[2021-10-31 08:36] Fizzadar opened #694 "v1.5.dev3: restore @docker sudo arg handling"
## Describe the bug

In 1.4 sudo/su arguments are stripped before being sent to Docker, in the latest 1.5 dev release they are not - this is BREAKING! But DO add a warning that they're being removed.

Possible solution is a `docker_user` global argument to execute Docker with `-u USER`.

ALSO think about dockerssh - sudo/etc should _probably_ be passed into the SSH command, ie `sudo docker ...`.

[2021-11-01 09:46] Fizzadar opened #695 "Future planning: how to manage global arguments"
pyinfra has a [number of global `@operation`/`@deploy` arguments](https://docs.pyinfra.com/en/1.x/deploys.html#global-arguments), these are "magic" in that they are extracted before other arguments are passed into the operation/deploy function. This means that these functions cannot use arguments with the same name as global arguments.

While this works OK for builtin operations, where this issue

[2021-11-01 18:05] KuxaBeast commented on #692
@Fizzadar, what would be the best approach to implement/fix this feature? This should be actually an opt-in functionality in the connector, or completely done by the user manually IMHO. Or maybe make a separate function from `server.shell` (something like `server.subprocess`) - something that does not allow for shell expressions, just plainly sends the string command to the target?

also, I don't

[2021-11-04 19:39] glassbeads opened #696 "Custom "group" argument breaks operations.server.user"
## Describe the bug
https://docs.pyinfra.com/en/1.x/operations/server.html#server-user
When user is created with a custom primary group, server.user fails to create/change owner of home directory and/or public keys, because it still tries to do chown with username:username.
https://github.com/Fizzadar/pyinfra/blob/current/pyinfra/operations/server.py - lines 939, 967, 986, 997.

## To Reproduce
[c

[2021-11-04 19:55] glassbeads commented on #696
The sole purpose of this issue was to be used in the commit message
https://github.com/Fizzadar/pyinfra/pull/697

[2021-11-04 20:52] glassbeads opened #698 "Dedicated group_data directory breaks the relative paths and imports"
## Describe the bug
At first, my directory structure was as follows:
[code]
I didn't utilize `group_data` at all since there was no need in that.
Later, a new inventory was added, in the same directory.
A bit of context: an inventory is an abstraction that is above groups of hosts; logically enough, it maps perfectly with a datacenter. It could also map with an "environment", like production, dev,

[2021-11-04 21:02] glassbeads commented on #698
Looks like it can be reproduced with `config.py` file instead of `group_data` directory, too.

[2021-11-04 21:12] glassbeads commented on #698
The sole purpose of this issue was to use it in the commit message
https://github.com/Fizzadar/pyinfra/pull/699
But it looks like a further discussion is needed.

[2021-11-04 21:38] glassbeads opened #700 "operations.server.user fails to create a user 'ad' if there's already a user called 'brad'; same with groups"
## Describe the bug
https://github.com/Fizzadar/pyinfra/blob/current/pyinfra/operations/server.py#L886
This regular expression checks user's existence by checking the ending of the username, not the whole username.
So e.g. if there's a user called 'brad', pyinfra will silently skip a creation of user with name 'ad' and will fail on chown operation (`invalid user: ‘ad:ad’`).
The same thing with gro

[2021-11-04 21:47] glassbeads commented on #700
The sole purpose of this issue was to use it in the commit message
https://github.com/Fizzadar/pyinfra/pull/701
Man, I need to automate this issue/PR stuff, it takes too much time.

[2021-11-08 19:11] drewp opened #702 "apt.deb(src="http://url/here") breaks in facts/deb.py"
My deploy says this:
[code]

I inserted this print in facts/deb.py:
[code]
and I get this output:
[code]

--> Support information:

    If you are having issues with pyinfra or wish to make feature requests, please
    check out the GitHub issues at https://github.com/Fizzadar/pyinfra/issues .
    When adding an issue, be sure to include the following:

    System: Linux
      Platform: Linux-5.4.

[2021-11-08 19:18] drewp commented on #702
Here's a silly workaround:

[code]

[2021-11-09 20:54] #700 closed, assigned to nobody

[2021-11-09 21:37] #696 closed, assigned to nobody

[2021-11-11 21:32] yggdr opened #703 "paramiko error: "q must be exactly 160, 224, or 256 bits long" / too little SSH configurability"
## Describe the bug
Running `pyinfra inventories/somestuff.py fact server.Os` yields
`Unknown exception: q must be exactly 160, 224, or 256 bits long`

This has been reported in several other projects using paramiko. It has to do with ~/.ssh/config settings for the Host in question. I have the feeling that some of those settings are taken into account by pyinfra/paramiko, while others are ignored/

[2021-11-12 12:27] yggdr opened #704 "apt.repo fails to recognise already present repository"
## Describe the bug
Running a deploy with an `apt.repo` operation results in that repository being added despite being already present from a previous run.

## To Reproduce
This is part of the deploy to an Ubuntu 20.04 server:

[code]

Running the deploy multiple times results in identical lines being added:

[code]

## Expected behavior
It should be recognised that the repo is already present and

[2021-11-12 12:43] yggdr opened #705 "Enhance OperationMeta to give more info on changes, depending on Operation"
## Is your feature request related to a problem? Please describe
Operations return an object with a `changed` attribute that is set to True whenever _any_ changes have been performed on the remote host. It would be very good to have a bit more information available as to what changed, depending on the operation.

Example:

I create users like this:

[code]

The idea is that a newly created user is

[2021-11-13 10:57] Fizzadar commented on #698
Thank you for writing this up @glassbeads - I totally agree that this is both confusing and inflexible currently; would like to completely rework how the paths work. I think the whole idea of picking a single deploy directory is unrealistic. I think there's three things to resolve here:

1. Given an inventory filename, where do we search for group data?
2. Given a deploy filename, where do we sear

[2021-11-13 11:08] Fizzadar opened #706 "Add —group CLI flag"
Add all inventory hosts to this group.

[2021-11-13 12:05] Fizzadar commented on #698
I've edited the above post a few times but think I've condensed things into a few simple (or not? :)) rules:

+ The "deploy directory" is always set to the directory of the deploy file currently being executed
  - ie `/opt` if `pyinfra INVENTORY /opt/deploy.py`
  - if we're executing an operation or fact directly, use CWD
+ "Magic paths" (not starting `.`, `../` or `/`) are relative to the deploy

[2021-11-13 12:44] Fizzadar commented on #692
@KuxaBeast apologies for the delay here. Agreed there's a few issues with the current handling. Currently [Windows has it's own make command function](https://github.com/Fizzadar/pyinfra/blob/v1.4.18/pyinfra/api/connectors/util.py#L309). The `-c` argument is pretty standard across most POSIX shell implementations but I agree this shouldn't be completely hardcoded. I would propose immediately:

+ A

[2021-11-13 17:39] Fizzadar commented on #702
Thank you for reporting this @drewp; I've just pushed up a fix in https://github.com/Fizzadar/pyinfra/commit/0abfd55fe0e33d570f6cf3251fcba315967b4dde pending release shortly.

[2021-11-13 17:44] Fizzadar commented on #704
Thank you for reporting this @yggdr; I've just pushed two fixes related to this (https://github.com/Fizzadar/pyinfra/commit/0abfd55fe0e33d570f6cf3251fcba315967b4dde & https://github.com/Fizzadar/pyinfra/commit/c10ddc50dcbaa82a253c87ce35cd5a77f6356bec) that will be released shortly.

[2021-11-13 17:52] Fizzadar commented on #703
Which version was previously working for you, @yggdr? I want to find out exactly what changed here. I agree this behaviour is not well documented. The default is that, if no password or SSH key is provided, pyinfra will tell paramiko to look for keys and any running agent (https://github.com/Fizzadar/pyinfra/blob/current/pyinfra/api/connectors/ssh.py#L160-L192).

[2021-11-13 18:25] Fizzadar commented on #704
Now released in v1.4.19.

[2021-11-13 18:25] #704 closed, assigned to nobody

[2021-11-13 18:25] Fizzadar commented on #702
Now released in v1.4.19.

[2021-11-13 18:25] #702 closed, assigned to nobody

[2021-11-14 11:28] Fizzadar commented on #693
Added in v1.5.

[2021-11-14 11:28] #693 closed, assigned to Fizzadar

[2021-11-14 11:29] Fizzadar commented on #681
v1.5 is now out which has a looser requirement.

[2021-11-14 11:29] #681 closed, assigned to Fizzadar

[2021-11-14 11:30] Fizzadar commented on #676
v1.5 is now out so this should be possible via:

[code]

[2021-11-14 11:30] #676 closed, assigned to Fizzadar

[2021-11-14 11:30] #632 closed, assigned to nobody

[2021-11-14 11:32] #598 closed, assigned to Fizzadar

[2021-11-14 11:33] Fizzadar commented on #585
This has now been released in v1.5.

[2021-11-14 11:33] #585 closed, assigned to nobody

[2021-11-14 11:33] Fizzadar commented on #695
From: https://github.com/Fizzadar/pyinfra/issues/585#issuecomment-860271266

[2021-11-14 11:34] Fizzadar commented on #591
Closing as cannot replicate - I also suspect v1.5 may solve this completely with proper automatic sudo prompting.

[2021-11-14 11:34] #591 closed, assigned to nobody

[2021-11-14 11:35] Fizzadar commented on #566
Implemented + released in v1.5.

[2021-11-14 11:35] #566 closed, assigned to Fizzadar

[2021-11-14 11:35] Fizzadar commented on #555
Now released (at last) in v1.5.

[2021-11-14 11:35] #555 closed

[2021-11-14 11:36] Fizzadar commented on #510
Finally released this in v1.5!

[2021-11-14 11:36] #510 closed

[2021-11-14 11:36] Fizzadar commented on #538
Finally released this in v1.5!

[2021-11-14 11:36] #538 closed

[2021-11-14 11:36] Fizzadar commented on #318
Finally live in v1.5!

[2021-11-14 11:36] #318 closed

[2021-11-14 11:38] Fizzadar commented on #520
This is now live in v1.5!

[2021-11-14 11:38] #520 closed

[2021-11-14 12:05] skutter-de commented on #706
Maybe do "--groups" instead so you can specify multiple groups. Would be smart to implement both in one go instead of having to come back when someone asks for it.

[2021-11-14 12:08] skutter-de commented on #695
I'd prefer option 3 I think just because option 4 is more verbose where it doesn't need to be. On the other hand, another solution could be just to prefix like Ansible does (e.g. pyinfra_sudo_user)

[2021-11-14 12:11] skutter-de commented on #688
How about implementing a switch in the deploy where the deploy developer can ask for explicit approval. Also, I think all cases where data has to be interactively entered into the program/deploy should be asked before asking for approval so you can just type in what you need, then approve, then go to something else while the deploy is running.

[2021-11-14 12:29] gnat commented on #520
Sweeeeet @Fizzadar
Thank you!

[2021-11-14 12:39] gnat commented on #591
No worries! Hopefully this was my bad and this can be put to rest.

Will re-open with more detail if I can replicate in 1.5.

[2021-11-14 13:05] gnat commented on #520
SUPER NICE change! Using in production now @Fizzadar

[2021-11-14 13:07] gnat commented on #318
Tested and works. Killer change @Fizzadar !

[2021-11-14 13:16] mjmare commented on #566
Thank you. This will make scripting much easier.

[2021-11-14 18:39] yggdr commented on #703
Unfortunately I'm not entirely sure if it stopped working directly after my last update of pyinfra, or whether that was more of a coincidence, and the error was triggered by some other change in my environment (although I wouldn't now what that change would be). As for the version used, I can only venture a bit of a guess based on what version was current when I attempted to add a serial connector

[2021-11-15 07:40] Fizzadar opened #707 "Remove global state/host arguments"
These were added [a long time ago](https://github.com/Fizzadar/pyinfra/commit/bcb705a598ce6caee00e5ac4d416f94ab4935492#diff-a0bc476655b0a490b3fd21803c145ea405618bea9902c1a4d74a77380ceaa461), there’s effectively two ways to call any operation or deploy function. Should just always use the pseudo host object? This always represents the current state/host in CLI mode and could easily be applied to AP

[2021-11-15 07:41] Fizzadar commented on #707
Also maybe time to rename pseudo to context or whatever, it’s effectively a set of classes that represent the current context at all times.

[2021-11-15 09:19] Fizzadar commented on #705
I like this idea a lot, @yggdr; would be great if operations could provide context specific data into operation meta. Currently `OperationMeta.commands` is an option, although requires knowledge of the command structure.

I'm trying to think about how to best structure something like this - can operations add arbitrary metadata to the output? How do we prevent that becoming a mess of keys/values?

[2021-11-15 09:20] Fizzadar commented on #706
For that I was thinking similar to `--limit` where the option can be repeated so `--group groupA --group groupB` kinda thing.

[2021-11-15 09:27] skutter-de commented on #706
Hmm maybe both? Like `--groups a,b,c,d` and `--group a --group b --group c --group d`. Looking at this, you can save a lot of typing if you can just specify multiple groups with a delimiter

[2021-11-15 21:13] yggdr commented on #705
My first instinct was as I said to make it possible for operations to define their own `OperationMeta` subclass to return. Then they could add their own attributes as they see fit.

But what about instead extending the `changed` attribute of `OperationMeta` to be a dictionary instead of a boolean? If nothing changed, it's an empty dictionary, so truth-tests continue to work, but the operation can

[2021-11-16 19:13] hendursaga commented on #657
Not entirely sure how the documentation would look like, but don't forget `doas` if it's relevant!

[2021-11-16 19:55] yggdr opened #709 "Fact: underlying StringCommand cannot ignore exit code != 0"
While writing a new Fact I wanted it to execute a command that might return an error code, but still writes useful information to stdout. Pyinfra seems to interpret any exit code other than 0 as a failure to gather the fact, and StringCommand cannot be given the `ignore_error` kwarg, as that seems to be filtered out explicitly in the `PyinfraCommand`'s `__init__` via `get_executor_kwarg_keys`.

Lo

[2021-11-17 13:48] themanifold opened #710 "Calling operation from dynamic execution leads to error"
Are we meant to be able to invoke pyinfra operations from within a dynamic execution as defined here: https://docs.pyinfra.com/en/1.x/examples/dynamic_execution_deploy.html

[code]

If we run this I get:

[code]
If it helps, if I look at that point with a debugger, I see that `state` *is* defined and of course `host` is empty.

One thing I don't understand from the dynamic execution, from the docs

[2021-11-26 01:52] gnat opened #711 "Config option to suppress warning: "Invalid auth argument: cannot use use_sudo_password without sudo.""
## Issue / Use Case
I frequently switch sudo on/off for my task scripts. This currently works flawlessly using `config.SUDO = True` and `config.SUDO = False` I pre-fill `config.USE_SUDO_PASSWORD`.

Great for situations like:
1. `config.SUDO = True`
2. Adjust firewall (root user).
2. `config.SUDO = False`
2. Run Rootless Docker (normal user).

The issue is when I `config.SUDO = False` pyinfra will

[2021-11-26 02:07] gnat commented on #707
Removing the args seems like a fair simplification. :+1:  I do use the `host` pseudo-object quite extensively to retrieve group data and run `host.fact.command()` (to get raw output of a command)

[2021-11-26 02:14] gnat commented on #686
@themanifold The one way I've found to do this, which I use quite extensively at this time is `host.fact.command()`

Example for adding stuff to PATH.
[code]

[2021-11-26 09:52] Fizzadar commented on #710
Hi @themanifold - the issue here is calling an operation during execution - ops can only (currently) be generated before any execution starts. So to dynamically run commands inside a callback function you need to use the lower level `host.run_shell_command`:

[code]

This error is confusing and useless and I'd like to update it to reference the actual issue here and point to the above.

[2021-11-26 09:54] Fizzadar commented on #709
I think this is a great idea - there already exists a `success_exit_codes` global argument that could be used to achieve this just needs fact support example from operation:

https://github.com/Fizzadar/pyinfra/blob/7283f844ef991166dd0da9f5791b603e651e9691/pyinfra/operations/server.py#L80

[2021-11-26 09:55] themanifold commented on #710
Thanks for that. I think the docs hint at it, but they never say it is the only way, so thanks for clarifying. How do I invoke the `host.run_shell_command` with sudo etc? Or do I need to do all that instrumentation myself?

[2021-11-26 09:57] Fizzadar commented on #711
Hi @gnat - 100% agree with this the warning isn't showing in the expected scenarios. I'm not sure it's possible to reliably show these warnings at all as there's many different combinations of config/global args/etc. Will have a think about how best to handle this but maybe removing the warnings alltogether would be an improvement.

[2021-11-26 09:58] Fizzadar commented on #710
All the arguments like `sudo*`, `su*`, etc can be passed to `run_shell_command` so no need to manually build that. Keeping this issue to make this clearer in the documentation and expand the example.

[2021-11-29 19:30] FullByte opened #712 "Link to GitHub Examples broken"
## Describe the bug
On https://pyinfra.com in the footer "pyinfra on GitHub" the links for "Examples" is broken
Is:  https://github.com/Fizzadar/pyinfra/tree/current/example
Should be https://github.com/Fizzadar/pyinfra/tree/current/example**s**

## To Reproduce
Go to https://github.com/Fizzadar/pyinfra/tree/current/example

## Expected behavior
Should be https://github.com/Fizzadar/pyinfra/tree/c

[2021-11-30 16:16] artizirk opened #714 "SSH ProxyJump after commit bbfc31fc is broken"
## Describe the bug
`ProxyJump` from `~/.ssh/config` is correctly picked up but it fails when connecting to the target.

Looks like [SSHClient.gateway](https://github.com/Fizzadar/pyinfra/blob/af4bc73e74b367fe53180b1899af6b8b6d3e5561/pyinfra/api/connectors/sshuserclient/client.py#L49) wants to access `self.hostname` and `self.config` that were removed in commit bbfc31fc

## To Reproduce
1.
[code]

[2021-11-30 16:25] artizirk opened #715 "Allow specifying an alternative ~/.ssh/config file"
That would allow shipping the `ssh_config` file in the repo next to other inventory and deploy files.
I mostly use the `ssh_config` file for configuring ProxyJump config arguments.

OpenSSH client has [`-F` option](https://man.openbsd.org/ssh#F) that allows using other config file.

Currently i'm hacking around this limitation by injecting this snippet into my `config.py`

[code]

[2021-11-30 21:19] mjmare opened #716 "Docker operations?"
It may be that I don't understand the purpose of the docker and dockerssh connectors, but it seems to me that a set of Docker operations appears to be a glaring omission given Docker's ubiquity.
For example building/managing images, starting/stopping containers, managing docker compose stacks etc. Say, something similar to (part of) https://docs.ansible.com/ansible/latest/collections/index_module.

[2021-12-13 07:48] drewp opened #719 "Files/Link force=True can still fail with 'File exists'"
My code:
[code]

Output:
[code]

I did not expect `ln` to be able to error, since force=True should have rm'd the file first. (I also expected pyinfra to use `ln -sf` instead of `rm`-then-`ln`, but whatever.)

Here are some commands I ran on the remote host:
[code]

+ How was pyinfra installed (source/pip)? virtualenv + pip

[code]

[2021-12-13 20:04] bikingcoder commented on #617
@Fizzadar apologies for not getting back to you sooner, just back in this space again. it seems to work now, thanks!

[2021-12-13 20:04] #617 closed, assigned to Fizzadar

[2021-12-17 18:11] Fizzadar opened #721 "Loading system host keys is _extremely_ slow"
## Describe the bug
Loading system host keys in Paramiko is SUPER slow, and has to be done per-host.

## To Reproduce
Have a large host keys file, connect to many (50+) hosts at once.

## Expected behavior
Not a 2s wait per host.

## Potential Fix

Sidestep paramiko and load the host keys once, and overwrite the client's host keys variable (https://github.com/paramiko/paramiko/blob/main/paramiko/c

[2021-12-19 11:24] Fizzadar commented on #698
Simplified again:

+ No "deploy dir", everything relative to the CWD
+ Operations with local path arguments:
  - always relative to the CWD (so `files/blah` = `CWD/files/blah`)
  - absolute paths left as-is (`/somewhere/else`)
+ group_data` is discovered in the following order, multiple occurrences are merged, existing keys overwritten by last:
  - alongside the inventory file `./group_data`
  - i

[2021-12-19 11:25] #586 closed, assigned to nobody

[2021-12-21 01:59] felipoantonoff opened #722 "Problem to run command on external host (Cloud)"
## Describe the bug

Problem to run command on external host
Normal runs if @local, but for the Cloud the error

## To Reproduce
Example command:
`pyinfra /home/vagrant/pyinfra/inventory.py --limit 159.89.243.96 --debug exec -- echo "hello world"`

## Expected behavior

It was to return like @local:
Beginning operation run...
--> Starting operation: Server/Shell (echo hello world)
     [pyinfra.ap

[2021-12-22 14:32] KE8SOJ commented on #703
I am experiencing a similar issue using a 2048 bit RSA key.

[code]

As a workaround I changed my keys from  RSA to ED25519 and the error went away.

[2021-12-23 00:01] romanchyla opened #723 "Deployments - easy way to run them?"
## Is your feature request related to a problem? Please describe

I was really confused on how to execute Deployments. Documentation is very clear on how to write them, but not on how to execute them. https://docs.pyinfra.com/en/1.x/api/deploys.html

And being lazy (I didn't really like the idea of having to create config/state objects -- and didn't know how) I spent next few hours trying to disco

[2021-12-23 10:26] paolodina opened #725 "date parse error when running apt.deb command"
## Describe the bug
Installing a `.deb` file from url fails.

[code]
Error similar to #288.

## To Reproduce
[code]

## Expected behavior
The command should end without errors.

## Meta
`pyinfra --support`
[code]

### How was pyinfra installed (source/pip)?

I'm using pipx to run pyinfra (had no problems so far).

### Include pyinfra-debug.log (if one was created)

Missing.

### Output with `-vv`

[2021-12-25 01:46] jlamoure opened #726 "files.line() ignores all but last call for same file"
## Describe the bug
When files.line() is called multiple times for the same file with different arguments, only the last call is executed at deploy time.

## To Reproduce

My specific case (raspi 4):

[code]

## Expected behavior

Both calls to files.line() are executed at deploy time.

## Meta
+ Include output of `pyinfra --support`.

[code]

+ How was pyinfra installed (source/pip)?

Python poet

[2021-12-25 20:10] znd4 opened #727 "sftp operations fail if login script echos to stdout"
## Describe the bug
Whenever a [host.put_file](https://github.com/Fizzadar/pyinfra/blob/df120c702399d58bf3370b0cdd9fbe71b489e4e6/pyinfra/api/connectors/util.py#L169) sftp operation gets called, if the target server's login server prints anything to stdout, [paramiko will fail and throw a rather unhelpful `SFTPError("Garbage packet received")`](https://github.com/paramiko/paramiko/issues/395), and

[2021-12-25 20:13] znd4 commented on #727
According to someone in the [paramiko issue](https://github.com/paramiko/paramiko/issues/395) I linked, the [scp library/plugin for paramiko](https://github.com/jbardin/scp.py) doesn't have this drawback. I don't know enough about the differences between sftp and scp to know whether it'd make sense to change over (even ignoring the effort involved), but I thought it'd be worth calling out.

For no

[2021-12-26 09:02] Fizzadar commented on #722
Hi @FelipoAntonoff would you mind posting the inventory file here? I’m specifically interested in any env data or config that could be causing this.

The error here looks like a list is being passed as env instead of a dictionary but can’t be certain.

[2021-12-26 09:06] Fizzadar commented on #723
@romanchyla I really like this idea and have considered it in the past but never implemented. This could even become the recommended way of writing and executing pyinfra code entirely.

I think combined with the removal of the state/host arguments everywhere this becomes a better way to write pyinfra operations than just in the top level of a file.

Will definitely add support for this asap and th

[2021-12-26 09:08] Fizzadar commented on #725
Hi @paolodina this may be a limitation of the `python-dateutil` library, which version do you have installed?

That said, I think pyinfra should handle this situation and show a warning rather than bailing on the exception.

[2021-12-26 17:00] paolodina commented on #725
Hi Nick, I have the latest `2.8.2`.
I'm not sure about side effects, but as a workaround I specified a different locale via `env`:
[code]

[2021-12-27 01:57] felipoantonoff commented on #722
Hello @Fizzadar , here is the inventory used:

[code]

From what I can see, it connects the machine, but when it starts running, for example, an apt or another resource, the error appears.

Locally in Vagrant I keep running some scripts and all of them getting normal if I use @local .

[2021-12-28 18:46] bauen1 opened #728 "ssh connector does not handle proxyjump correctly"
With an ssh configuration like
[code]

OpenSSH will proxy every ssh connection through `sysadmin@de-fra0.lab.bauen1.xyz:80` except connections to `de-fra0.lab.bauen1.xyz`

pyinfra breaks with this config and will enter an recursive loop, relevant code:
https://github.com/Fizzadar/pyinfra/blob/df120c702399d58bf3370b0cdd9fbe71b489e4e6/pyinfra/api/connectors/sshuserclient/client.py#L81-L96

[2021-12-29 09:10] bogen85 opened #729 "apk not being found with alpine using dropbear sshd."
## Describe the bug
I'm using infra on alpine with dropbear sshd and apk is not being found.
I did try openssh sshd and it works, but for some of my setups I'd prefer to use dropbear.

## To Reproduce
[code]
## Expected behavior
I expected a way to specify the path to apk.
I did a sed replace of apk with /sbin/apk and it works.
[code]

Should there be a way to configure an absolute path for remote

[2021-12-29 09:35] bogen85 commented on #729
I tried the ```@chroot``` connector and had the same issue and had to patch pyinfra the same way to make it work ```( apk to /sbin/apk )```.

By the way... ansible is not working for me with alpine chroots, due to the way it treats symlinks in the chroot (as alpine is busybox based).

So, despite having to patch it, pyinfra is showing more promise for me than ansible...

[2021-12-29 14:27] bogen85 commented on #729
In general things would be more flexible and allow more variations to work if things like the sh, apk, and chroot commands were configurable. For example, I prefer to use [systemd-nspawn](https://wiki.archlinux.org/title/Systemd-nspawn) instead of chroot as it offers full container isolation, and generally works as a drop in replacement for chroot. If the chroot connector's chroot_command were con

[2021-12-29 17:55] bogen85 commented on #729
These ( #724 and #692 ) may be related.

[2021-12-31 08:46] bogen85 commented on #729
Well, I wrote a wrapper script for chroot to use systemd-nspawn, that works fine.
I can set the PATH variable in the script, so no need to patch pyinfra's apk text for systemd-nspawn.
I might write a proper systemd-nspawn connector and make a PR for it.

As far as ssh goes, I can symlink /bin/apk to /sbin/apk and that allows pyinfra to connect via ssh.
So, for now this is not a showstopper for me,

[2022-01-01 01:34] bogen85 opened #731 "If link or service enablement did not change, should not result be "No Changes" for an operation rather than "Success?""
## Describe the bug
Maybe this the chroot connection, not sure. But facts do work...
Anyways, If I use openrc to enable a service in a chroot install, it works (Success).
However, if I rerun I don't get "No Changes" I get "Success".
So the same it enables or does not already have to enable due already been enabled.

I tried a symlink instead of openrc service enable, as i the end the result is sup

[2022-01-01 01:58] bogen85 commented on #731
Here is a more exhaustive/comprehensive repro steps.

Needs to be run on a systemd Linux distro with host python/pip/venv installed.

User needs sudo.

Put these 4 files in your directory and type ```make basic-prep``` after renaming 3 of the files.

[requirements.txt](https://github.com/Fizzadar/pyinfra/files/7797285/requirements.txt)
[Makefile.txt](https://github.com/Fizzadar/pyinfra/files/77972

[2022-01-01 02:54] bogen85 commented on #731
From initial_prep.py above:
[code]
Notice that I had to clean up the link_target fact for the Link path (there was and extraneous trailing single quote.)

I've not dug into the files.link code, it is possible if it is trying to check, that the check is failing. (As my initial check did as well, until I looked at what was being returned and cleaned it up).

[2022-01-01 04:43] bogen85 commented on #731
The equivalent in Ansible, while the output is cleaner, required me to removed the soft link of sh to busybox and make it a hard link.
Also, I had to run ansible via sudo to get to work with the chroot.
With pyinfra because I was able to use a chroot wrapper, so I did not need to run pyinfra via sudo.

Both Ansible and Pyinfra took about the same time. As I initially stated though, Ansible was mor

[2022-01-03 11:02] Fizzadar opened #733 "Cannot have different values per host for global arguments"
## Describe the bug

Setting `use_sudo_password` differently for two different hosts fails, the same password is used for both.

[2022-01-04 08:44] Fizzadar commented on #727
Hi @zdog234 thank you for raising this, definitely needs fixing I will investigate the scp library some more as that looks like a sensible solution. Pyinfra isn't using any of the other SFTP features so don't have any concerns with the swap 👍

[2022-01-04 09:35] Fizzadar commented on #729
@bogen85 is there a reason `/sbin` isn't in the `PATH` by default for the user in question? The PATH issue isn't really something pyinfra itself can deal with directly - you could set `config.ENV` to apply path everywhere which should fix the issue.

Thinking about general configurability - I think pyinfra's approach of running commands without an absolute path is correct and the `PATH` variable s

[2022-01-04 11:59] bogen85 commented on #729
@Fizzadar I think on the PATH issue, [dropbear](https://matt.ucc.asn.au/dropbear/dropbear.html) appears to be the culprit as it is not setting the path and is not honoring the ssh config for environment variables. The [documentation](https://linux.die.net/man/8/dropbear) for dropbear claims it sets them, and I'll have to dig deeper into that.

Regarding systemd-nspawn, yes, I'm using the ```@chroo

[2022-01-04 12:01] bogen85 commented on #731
See #732 for discussion of the quoting issue that led the path link fact not being correct.

[2022-01-04 16:11] bogen85 commented on #729
It is working now on a fresh setup (no ~/.ssh/config specifics needed). Have not determined what was causing it to not work earlier.

Continuing discussion on #731for chroot.

[2022-01-04 16:11] #729 closed, assigned to nobody

[2022-01-04 16:39] bogen85 commented on #731
For #729 @Fizzadar wrote:

Regarding systemd-nspawn, yes, I'm using the @chroot connector along with a chroot wrapper script in my path. (Details already discussed in this issue). I'm open to either (new connector or new configuration field) as long as I have the some functionality I'm getting from the wrapper (systemd-nspawn run with sudo, not all of pyinfra) (with ansible and chroot, all of ansi

[2022-01-05 16:49] Fizzadar commented on #726
Hi @jlamoure I believe the issue here is that the filename is used as the dictionary key which must be unique. So on the Python level the `lines` dictionary only has one item. Changing this to a list/tuple works as expected:

[code]

Gives me a file:

[code]

[2022-01-05 16:50] Fizzadar commented on #712
Thank you for spotting this @FullByte! Now updated :)

[2022-01-05 17:07] Fizzadar commented on #715
Great idea! I've added an implementation of this in https://github.com/Fizzadar/pyinfra/pull/734/commits/7bdf55db6e5e94f7b3d87cbf0094ddc5646304f8, pending 1.5.1 or 1.6.

[2022-01-06 00:33] jlamoure commented on #726
That's exactly it. My bad!

[2022-01-06 19:29] #587 closed, assigned to nobody

[2022-01-06 19:30] Fizzadar commented on #679
I'm going to close this issue now as it's diverged from the original problem. There have been improvements to the auth error handling since that _should_ display the underlying authentication issue if there is any. If needed please open another issue and we'll get things sorted :)

[2022-01-06 19:30] #679 closed, assigned to nobody

[2022-01-07 07:39] artizirk commented on #714
seems to be fixed in 5c14d4391bafb17daba4d3eb6e4e0bd24c7741bf

[2022-01-07 09:37] #726 closed, assigned to Fizzadar

[2022-01-08 18:18] Fizzadar commented on #728
This should now be fixed as of `v1.6` which I just pushed out (fixed by https://github.com/Fizzadar/pyinfra/commit/5c14d4391bafb17daba4d3eb6e4e0bd24c7741bf).

[2022-01-08 18:19] #728 closed, assigned to Fizzadar

[2022-01-08 18:20] Fizzadar commented on #721
Now fixed in `v1.6` (https://github.com/Fizzadar/pyinfra/commit/96e093e417b1859204e882687e6ad856c4b0110d).

[2022-01-08 18:20] #721 closed, assigned to nobody

[2022-01-08 18:26] Fizzadar opened #735 "End-to-end SSH tests"
Fire up a Docker container running SSHD, execute against it.

Can probably do this for chroot and potentially dockerssh connectors as well.

Specifically would catch issues like https://github.com/Fizzadar/pyinfra/commit/fd1c546d00f10d5556be5a0116ed69dc50be8b78 where the unit tests mock out calls on the "edge" of pyinfra (where it calls out to 3rd party stuff).

[2022-01-08 18:29] Fizzadar commented on #719
Hi @drewp thank you for reporting this; it should now be resolved in `v1.6.1` by https://github.com/Fizzadar/pyinfra/commit/6c1af9f0cde47544658f3f1f559a032f5ee3f579 + https://github.com/Fizzadar/pyinfra/commit/39c604b5a24afd4cb79c0884f6011629a178c1bc.

Essentially the `files.Link` fact was returning `null` incorrectly when it should return `false` (indicating the path exists but isn't a link). The

[2022-01-08 18:29] #719 closed, assigned to Fizzadar

[2022-01-08 18:30] Fizzadar commented on #714
@artizirk thank you for reporting this - indeed it should now be fixed and I've just released it in `v1.6[.1]`.

[2022-01-08 18:30] #714 closed, assigned to nobody

[2022-01-08 18:30] Fizzadar commented on #715
This is now live in `v1.6` :)

[2022-01-08 18:30] #715 closed, assigned to Fizzadar

[2022-01-08 18:52] si14 opened #736 "files.sync ignores mode on destination directory"
`files.sync` always applies host's file permission on the destination directory regardless of `mode` in the command:
https://github.com/Fizzadar/pyinfra/blob/ff0913d6a172966760b63fe59e55dff9ea852e0d/pyinfra/operations/files.py#L573

It might be the intended behaviour, but it's fairly surprising, as code like this

[code]

might lead to `staticweb` being listable for everyone on the target host.

[2022-01-11 14:07] bauen1 opened #737 "SSH Hostkey checking security issues. (Behaviour deviates from SSH)"
## Describe the bug

The configuration option `StrictHostKeyChecking` is ignored, and because of https://github.com/Fizzadar/pyinfra/commit/be6b97c4f6f443227a3fa170d5622fae51e9331b pyinfra will **blindly accept any host key**, allowing man in the middle attacks if the host key is not manually added.

Furthermore when calling `rsync` host key checking is **completely** disabled.

## To Reproduce

-

[2022-01-14 16:44] Taisgeal opened #740 "Ability to build a server from an image"
## Is your feature request related to a problem? Please describe
I work in a hybrid environment (part local data centre, part cloud). I can build a new server from an image in either environment using ansible, by specifying a few parameters (image name, location, IP addresses etc.)

## Describe the solution you'd like
I would like to be able to do this from pyinfra. In fact, this is the only thing

[2022-01-16 23:32] bauen1 commented on #740
I'm already doing something like that with pyinfra:

1. I'm not using pyinfra directly, but a python script that mirrors most things the CLI does to obtain the inventory etc...
    - This is because pyinfra wants to connect to all involved hosts at the start, which won't work if the host does not exist yet for obvious reasons.
2. Uses the inventory to template simple-cdd configuration files (basic

[2022-01-24 19:15] mjmare opened #744 "Poetry installs old version of PyInfra"
When I use poetry to manage dependencies like pyinfra it finds an old (?) version 1.14.14, instead of the most recent one 1.6.1.
[code]
Don't know if it is something you can do something about it.
As a workaround I now fix the version:
[code]

[2022-01-25 08:05] Fizzadar commented on #744
This appears to be because poetry does not support yanked releases, there’s an issue tracking that here: https://github.com/python-poetry/poetry/issues/2453.

Another workaround would be specifying any version except the yanked one with `pyinfra!=1.14.14`. Closing this as its upstream and the pip implementation is over 2 years old so it’s not a new thing!

[2022-01-25 08:05] #744 closed, assigned to nobody

[2022-01-25 08:44] mjmare commented on #744
Thanks for investigating.
pyinfra!=1.14.14 is a better workaround than fixing it to the current version. Thanks for the suggestion.
Great, now I can use the --data option.

[2022-02-01 07:28] drewp opened #746 "files.download doesn't overwrite file"
I haven't tried to repro this. Hopefully the evidence from my shell history is useful.

Running this from host 'bang':
[code]
said this:
[code]
until I ran `sudo rm /usr/local/bin/skaffold` on dash. Then:
[code]
and now dash has this root-owned file:
[code]

I think dash should have worked the first time, like slash and bang did.

## Meta
+ Include output of `pyinfra --support`.

    System: Linux

[2022-02-03 13:55] anbsky opened #747 "Does not work with encrypted SSH keys on macos 12.2"
## Describe the bug

Pyinfra is unable to connect when authenticating with an SSH key. Supplying or ommitting ssh_key_password in the inventory or as a cli argument does not change the behavior in any way.

[code]

## To Reproduce

`inventory.py`:

[code]

`deploy.py`:

[code]

`pyinfra inventory.py deploy.py`

## Meta

PIP-installed.

[code]

[2022-02-05 15:30] sysadmin75 commented on #736
I'm unable to reproduce this issue.  The files permissions and ownership in the deploy are honored.

Maybe this has been fixed since you opened the issue.  Maybe update your version and try again.

If you still have this issue, then provide more details on reproducing.

[2022-02-06 23:29] jankatins commented on #654
Sudo 1.9.9 comes with support to add a different sudo/pam service for `sudo -A` and one can use that to configure sudo to not ask for passwords when used with `--askpass/-A`. So there is now a way to not get bitten by this problem.

(I wrote up how I configured it: https://www.katzien.de/en/posts/2022-02-06-sudo-with-fingerprint-support/)

[2022-02-09 02:36] jmpolom commented on #686
I am confused by this. There is an [example](https://docs.pyinfra.com/en/1.x/deploy_process.html#interdependent-operations) show a `.changed` property on the object returned from the operation. Is it not possible to include a `.stdout` property?

~~I'll add that `output = host.fact.command('/export terse')` does not work on devices without POSIX shells (IE: "dumb" devices like switches with propri

[2022-02-09 04:33] jmpolom opened #749 "How to obtain currently connected host name or IP address?"
Example inventory:
[code]

How can I obtain, from within a pyinfra deploy, the value of the current inventory item the deploy is running on? This is not clear from the documentation.

`host.hostname` seems to gather a fact but I'm not looking to query the host for anything -- just find out the current connection as described in the inventory.

[2022-02-09 10:52] Taisgeal commented on #740
That sounds like a very sensible way to do it.

I was thinking of taking this approach :

1. Manually build a server with
 -file systems set up using LVM
 -networking set up using a prereserved set of IP addresses and a predefined "golden image"  hostname
 -software installed
 -user accounts created ( i only have three of these)
 -custom changes made to files such as resolv.conf
2. Using this "gol

[2022-02-11 02:58] Fizzadar commented on #749
`host.name` should achieve this for you @jmpolom! Will keep this open as a docs issue 👍

[2022-02-12 20:57] bauen1 commented on #740
That's also a doable approach, a couple of issues you will have to consider:

* You might need to grow the filesystem if the golden image was smaller than the servers disk, and you can't use a golden image if it's bigger than the servers disk
* You need to very thoroughly clean the golden image, e.g. random seed, ssh host keys, machine-id, and possible other things
* I would still recommend to doc

[2022-02-14 09:47] progovoy opened #752 "Replace gevent with asyncio module"
I belieave that replacing gevent with asyncio within pyInfra will make it easier to integrate pyInfra to more modern python projects. Me and some of my colleagues are willing to contribute if you are interested.

[2022-02-14 13:49] Fizzadar commented on #752
I'm keen on this too once Python 2 support is removed in v2 (https://github.com/Fizzadar/pyinfra/issues/329).

The connectors will also need support:

+ SSH: replacement for `paramiko` (https://github.com/ronf/asyncssh looks like a good option)
+ Local/docker:  should just be able to use asyncio subprocess built into python3
+ Winrm: unknown

Let's keep this issue open to track the work needed, I'

[2022-02-15 04:07] drewp commented on #746
Still hitting this. I found this in strace on the machine that fails:

[code]

Indeed, I have some running skaffold processes on dash.

One fix is that pyinfra could download to another file and then `mv` it on top of the desired path.

[2022-02-15 17:14] Fizzadar commented on #746
Thanks for digging into this @drewp - think the download then `mv` method is the best solution, aligns with how `files.put` works as well 👍.

[2022-02-15 20:40] kornicameister opened #753 "Provide own image name when building against docker"
## Is your feature request related to a problem? Please describe

Basically trying to run tests inside a container.
I am trying first to execute deployment against isolated environment in docker and later would like to test and/or push image somewhere. Image however is tagged with random ID and there's no **simple** way to intercept image id via `pyinfra ... | tee -a out.log` and later `grep 'imag

[2022-02-16 08:38] oz123 commented on #752
IMHO asyncio is complicated and gevent is charmingly simple. This would be a huge task with very little benefit in terms of features.
gevent is actively developed, and has great support for python3.

[2022-02-16 10:09] Fizzadar commented on #752
@oz123 I was literally just thinking this! Was doing some digging into unrelated things (parallelisation of operation calls) which uses gevent local objects and it turns out asyncio only has contextvars as of 3.7, which [gevent references as so](http://www.gevent.org/api/gevent.contextvars.html):

Despite this - I also do think that using asyncio would make pyinfra simpler to integrate with other

[2022-02-16 22:32] PermanAtayev commented on #749
I also think it would be great to have this in documentation :)

[2022-02-16 23:35] edmond-edited commented on #722
Not sure if this is too late, but I encountered the same problem.

Turns out that the this only happens from v1.5 onwards. For me it was because previously `host.data.*` wasn't considered for global arguments (https://github.com/Fizzadar/pyinfra/releases/tag/v1.5) and we were using `host.data.env` as a string instead of a dictionary. Ultimately, when you try to `update` a dict with a string that's

[2022-02-17 08:43] #737 closed, assigned to nobody

[2022-02-17 14:20] Taisgeal commented on #740
That makes a lot of sense. Thank you for taking the time to write down your thoughts.

[2022-02-17 14:20] #740 closed, assigned to nobody

[2022-02-17 14:22] Taisgeal commented on #749
And me.

[2022-02-17 15:18] Fizzadar opened #754 "black + isort"
Black recently graduated out of beta and is rapidly become _the_ standard code formatter for Python. Although I personally prefer single quotes, standardization is more important and removes any question over code style/format. Therefore I am proposing to blacken the pyinfra codebase.

Would also like to use [`isort`](https://github.com/PyCQA/isort) ~~and [`ssort`](https://github.com/bwhmather/sso

[2022-02-17 15:53] Fizzadar commented on #747
Hi @andybeletsky - could you try with specifying the key directly, ie `ssh_key: '/path/to/key'`. You should get a prompt for the password.

Are you using an SSH agent? I think the issue here is when a key isn't explicitly provided the password flow isn't followed, which should only happen if a key is found on disk (by default pyinfra will look for agent + keys if none provided).

[2022-02-17 16:59] Fizzadar commented on #703
I can no longer replicate this with `paramiko==2.8` - OpenSSH keys are working for me (both RSA & ED25519). If this is still an issue it would be helpful to know how the key was generated, and the version of paramiko installed.

@yggdr regarding paramiko configurability I have now added options to disable the default SSH agent + looking for keys in https://github.com/Fizzadar/pyinfra/commit/4b30cb

[2022-02-18 10:04] Fizzadar commented on #746
I just released `v1.6.2` which contains this change (https://github.com/Fizzadar/pyinfra/commit/5944d8e54252dca29d4dbf73592795d9cc13d871).

[2022-02-18 10:04] #746 closed, assigned to Fizzadar

[2022-02-18 10:04] Fizzadar commented on #725
I just released `v1.6.2` with a change that always sets `LC_TIME` for the date fact which should fix this properly (https://github.com/Fizzadar/pyinfra/commit/6e94ab59886a7062afcb45467469c154731aead1).

[2022-02-18 10:05] #725 closed, assigned to Fizzadar

[2022-02-18 10:06] Fizzadar commented on #574
I figured out a fix for this - it's pretty horrible but gets the job done, and beats the current exception that is raised: https://github.com/Fizzadar/pyinfra/commit/a7964e525a9c632b1d7b515c6a85cdaf749c342c.

Released in `v1.6.2`.

[2022-02-18 10:06] #574 closed, assigned to Fizzadar

[2022-02-18 10:08] Fizzadar commented on #722
@edmond-edited YES! This suddenly makes sense, a side effect I had not considered. I've applied a workaround in https://github.com/Fizzadar/pyinfra/commit/1c2b0edd3c8c51fafd576e91482ff204907349c1 and released that in `v1.6.2`. @FelipoAntonoff does this also fix your issue?

Long term the plan is now to prefix all the global arguments with `_` which will prevent such issues.

[2022-02-18 10:09] Fizzadar commented on #703
Have now released the configuration options in `v1.6.2` so will close this issue for now, if the keys are still broken please comment here or add a new issue and we can investigate!

[2022-02-18 10:09] #703 closed, assigned to nobody

[2022-02-18 14:53] mohsinhijazee opened #756 "Combined output for facts with custom success codes"
## Problem
Currently, when getting facts, only the `stdout` is returned in case of success. Now beccause we support `success_exit_codes` in fact fetching like this after #755:

[code]

The fact only has `stdout` but becuse the "succuess" was kind hacked by suggesting a list of OK codes, the only `stdout` is returned but the actualy output of the command is on `stderr` which is igonred.

## Possibl

[2022-02-18 18:11] swsnr opened #757 "Incompatible with distro 1.7.0"
## Describe the bug
`pyinfra INVENTORY fact server.LinuxDistribution` throws an exception with distro 1.7.0:

[code]

Downgrading to distro 1.6.0 unbreaks pyinfra.

## To Reproduce
As above, run the `server.LinuxDistribution` fact with distro 1.7.0

## Expected behavior
Output the fact dictionary for `server.LinuxDistribution`.

## Meta
pyinfra 1.6.1 and distro 1.7.0

[2022-02-18 18:16] Fizzadar commented on #757
@lunaryorn this should be fixed in `v1.6.2` which I released earlier today!

Fixed as part of https://github.com/Fizzadar/pyinfra/commit/f8a7fa5c18e016cbef98512759bc7221cd879678, looks like I missed it from the changelog though will add that.

[2022-02-18 18:29] swsnr commented on #757
Oh no, I think I got caught right in between these updates, because I installed pyinfra early this morning CET and still got 1.6.1 🙈

I'm very sorry for the noise, I'll try the new version on Monday 🙏

[2022-02-18 18:33] Fizzadar commented on #757
No worries at all @lunaryorn, easily done! Let me know if it doesn't work :)

[2022-02-18 20:50] bauen1 opened #758 "pyinfra cli facts does not respect global arguments"
## Describe the bug

e.g. `pyinfra -vvv --sudo --dry --limit unused -- inventory.py fact systemd.SystemdStatus` does not respect `use_sudo_password` as defined in the inventory.

## To Reproduce

Create an inventory with a host and `use_sudo_password` set, invoke `pyinfra -vvv --sudo --dry --limit unused -- inventory.py fact systemd.SystemdStatus` on it and observe that it (wrongly) asks for a sud

[2022-02-19 17:40] sharpobject opened #760 "Crash if the user doesn't have an ssh config file"
## Describe the bug
If you try to use the ssh connector but don't have an ssh config file, it crashes.

## To Reproduce
Don't have an ssh config file. Install pyinfra using pip. run a command like `pyinfra localhost exec -- echo "hello world"`

## Expected behavior
It should ssh to localhost instead of crashing.

## Meta
[code]

[2022-02-19 17:59] Fizzadar commented on #760
@sharpobject thank you for reporting this! I've pushed a fix & test for it in https://github.com/Fizzadar/pyinfra/commit/76a9a56d87f4368cd80eebd4f87b2ca9e503c648; will release `v1.6.3` as soon as the tests pass!

[2022-02-20 11:41] Renerick opened #761 "Files operations are ignoring TEMP_DIR setting when SUDO = True"
## Describe the bug
When trying to upload or template a file to remote host without `/tmp` access and when SUDO = True I receive an error that `/tmp` directory is not found even when other value of the TEMP_DIR setting is specified. Currently I'm experiencing this problem when trying to upload docker-compose files to Synology NAS where direct SFTP has no access to file system other then user home

[2022-02-22 09:09] #760 closed, assigned to nobody

[2022-02-22 09:10] Fizzadar commented on #758
V2 should properly fix this (#759 implemented). The facts API has been rewritten and simplified such that it properly handles all the execution related global arguments. Hoping to have an alpha release out this week!

[2022-02-22 09:22] Fizzadar commented on #761
@Renerick thanks for reporting this, confirmed is happening on both 1.6.x and v2 WIP as well. Had a quick look but can't quite figure it out so needs a more thorough investigation.

[2022-02-22 09:22] Fizzadar commented on #733
Fixed via workaround in v1.6.2 (https://github.com/Fizzadar/pyinfra/commit/2cd2e1a5b3ad6389a9ae815b28f2326fe55a4f42), v2 will properly fix this.

[2022-02-22 09:22] #733 closed, assigned to Fizzadar

[2022-02-23 12:25] swsnr commented on #757
1.6.2 works perfect, thanks a lot :pray:

[2022-02-23 12:49] #757 closed, assigned to nobody

[2022-02-23 19:54] mjmare opened #763 "New config.py behaviour confusing"
With the latest PyInfra release 1.6.3 and this config.py (in accordance to docs):
[code]
I'm getting this error:
[code]
However changing my config.py to:
[code]
doesn't work either:
[code]

[2022-02-23 20:32] mjmare commented on #763
Sorry, I was wrong to assume that the error was caused by the deprecation warning. But it was my own doing.

you might consider updating the docs to warn people about the upcoming change. TIA

[2022-02-24 12:26] Fizzadar commented on #695
`_` prefixed gloal arguments is now part of v2, with backwards compatibility until v3.

[2022-02-25 10:34] julienlavergne commented on #565
For now, any way to reproduce the behavior with existing operations ?

[2022-02-28 11:20] gchazot opened #764 "Exception with --ssh-user/--user CLI option and click<7.0"
## Describe the bug
[code]

## To Reproduce
* Install `click <= 6.7`
* Install `pyinfra >= 1.4`
* Run the CLI with any of the `--ssh-blah` or corresponding `--blah`  option

## Expected behavior
No exception is raised :-D

## Meta
+ Include output of `pyinfra --support`.
[code]

+ How was pyinfra installed (source/pip)?
Pipenv (pip), pipfile extract:
[code]

+ Include pyinfra-debug.log (if one was

[2022-02-28 11:30] gchazot commented on #764
I've also come down further to the bottom of this issue.It is a side effect of:
* the prefixing of the SSH options with `ssh-` while keeping the old option available ([in this PR](https://github.com/Fizzadar/pyinfra/commit/27ff6cbe1e7a39a4f11dc46ccebebb7179dddd9d))
* the fixing of the selection of the long option name in Click ([in this PR](https://github.com/MLH-Fellowship/click/commit/f15f425bc1

[2022-02-28 12:04] gchazot commented on #764
PR #765 Implements the change for option 2. above

[2022-02-28 18:33] Fizzadar commented on #709
https://github.com/Fizzadar/pyinfra/pull/759 solves this in the upcoming v2 by enabling all of the execution arguments in fact calls.

[2022-02-28 18:33] #709 closed, assigned to nobody

[2022-03-02 22:24] jmpolom opened #766 "pyinfra doesn't ask for sudo password when config.SUDO or sudo = True and get_pty = True"
## Describe the bug
[code]

or

[code]

Either of the above will result in pyinfra not asking for a sudo password, which is different from the behavior when `get_pty` is not specified and pyinfra asks for a sudo password if one is not supplied via a kwarg or configuration parameter. This seems like buggy inconsistent behavior.

Example output when it doesn't prompt for password:
[code]

To get aro

[2022-03-03 10:29] PermanAtayev opened #767 "Pyinfra tries to collect postgresql fact on wrong host"
## Describe the bug
While running `postgresql.PostgresqlDatabases` fact, pyinfra does not take into consideration `postgresql_host` conditional logic.

## To Reproduce
[code]
Here is the error log:
[code]

## Expected behavior
With the fact collection above, pyinfra would not run the conditional logic for host selection, and default to host as `localhost` regardless of which server it is running o

[2022-03-03 13:00] swsnr opened #769 "zypper.packages lowercases package names?"
## Describe the bug

With the following operation

[code]
pyinfra apparently attempts to install `mozillafirefox`, that is, the lowercase name:

[code]

That's just plain wrong; zypper has case-sensitive package names, so it really needs to install `MozillaFirefox`, not `mozillafirefox`.

## To Reproduce
Run the operation above against a Suse system.

## Expected behavior
Install `MozillaFirefox`

[2022-03-04 13:01] #764 closed, assigned to nobody

[2022-03-05 21:15] sysadmin75 commented on #769
My proposed fix just passes the `lower` parameter to the **ensure_packages** operation.

I personally believe the better solution is to change the default value of `lower` in **ensure_packages** should be False instead of True. However this is my opinion and probably requires a bigger discussion.

[2022-03-05 22:47] gchazot commented on #754
Just had a look at `ssort` and I think it's going the opposite direction of making code more readable / easy to understand.

One should be able to read a code file top-down, going from the most high-level structure and concepts, to the most specific implementation details. Python language allows that to a very wide extent for free.

I guess that's what they refer to when saying it sorts it an "old

[2022-03-05 22:47] gchazot commented on #754
`black` :+1:
`isort` :+1:

[2022-03-05 23:01] gchazot commented on #691
These are 2 features being requested here:

1. A way to securely read passwords for use in a deploy
2. A secure way to create/update a file on the target without exposing the content to other users in the process.

I think 2. is a bug rather than a feature request.

About 1., `pyinfra` deploys are Python. If you can access your vault with Python code, then the feature is already builtin.

There's

[2022-03-06 08:15] Fizzadar commented on #763
This was documented in the README here: https://github.com/Fizzadar/pyinfra/blob/current/CHANGELOG.md#v15. I do need to expand the documentation pages for this though as config is largely ignored.

[2022-03-06 13:03] Fizzadar opened #772 "Invert `ensure_packages` lower argument default"
See: https://github.com/Fizzadar/pyinfra/issues/769#issuecomment-1059832256

[2022-03-06 13:04] Fizzadar commented on #769
I'm inclined to agree here, although a lot of package managers are case insensitive so there's probably no true correct solution here. But from a code perspective it seems cleaner to default to `False` and explicitly enable the lowercasing (https://github.com/Fizzadar/pyinfra/issues/772).

Thank you for the PR to fix this, will release in `v1.7` later today!

[2022-03-06 13:06] Fizzadar commented on #766
Replicated this and `get_pty` means output lines have `\r` at the end - I've added a fix (+test) for this in https://github.com/Fizzadar/pyinfra/commit/f5cb24e5ae99f457fc7d725d9d087c2fdc5b7ed7.

[2022-03-06 13:07] Fizzadar commented on #761
So the issue here was the config being used to generate the temp filename at execution time, not during operation generation. I've change how this works to pass through the temporary name in https://github.com/Fizzadar/pyinfra/commit/eec1c5d51bfd6e97331c878dcbd0458a856e5848 which should resolve this. Pending `v1.7` release later today.

[2022-03-06 13:13] Fizzadar commented on #767
Hi @PermanAtayev - I believe the issue here is the way pyinfra (v1) collects facts - each fact is gathered on all hosts in parallel. That means that your example will effectively run both these facts on all hosts:

[code]

Currently, a workaround for this would be to do the following:

[code]

---

Version 2 (next few weeks hopefully!) will solve this issue by changing how operations are generated

[2022-03-06 13:28] Fizzadar commented on #766
Now released in `v1.7`!

[2022-03-06 13:28] #766 closed, assigned to Fizzadar

[2022-03-06 13:28] Fizzadar commented on #761
Now released in `v1.7`!

[2022-03-06 13:28] #761 closed, assigned to Fizzadar

[2022-03-06 13:29] Fizzadar commented on #769
Now released in `v1.7`!

[2022-03-06 13:29] #769 closed, assigned to nobody

[2022-03-07 08:21] swsnr commented on #769
Thanks for the fix.

But why lowercase at all?  If I'd want lowercased names I could just call .lower() explicitly?  Why so much magic?  Wouldn't it be cleaner to just take the given package names as is?

[2022-03-07 15:47] PermanAtayev commented on #767
Hello @Fizzadar , thank you for getting back to me :)

I have originally started with your workaround, but fact collection does not respect the if condition and tries to connect to db in default port 5432 for all nodes. Thus, all slave nodes fail after that fact gathering part, since they don't have a pg cluster running on that port.

Here is the code chunk that I used, where `is_master_node` is a

[2022-03-07 17:23] SudoMike commented on #691
Agreed that 2 is a bug.

On 1, IMO having a vault is a pretty core common feature for any nontrivial deployment situation, and it would be very suboptimal to leave it to every developer to implement their own scheme for it. There are all kinds of ways to do it, and it's a nontrivial task to get it right. To be clear, I'm not proposing that pyinfra have _bridges_ to various third party vaults like

[2022-03-09 01:46] ghost opened #773 "host.data.VAR defaults to None"
## Describe the bug
When a variable referenced like so
[code]

where the variable `host.data.tinkerbell_user_uid` does not exist (as in, I never declared the variable), it defaults to `None`. This results in an error like this:

[code]

more verbose
[code]
I think that this behavior is not desirable. It should probably throw an exception or something. Not sure if you have a reason why don't do thi

[2022-03-09 02:14] jmpolom commented on #773
It would appear the [get method](https://github.com/Fizzadar/pyinfra/blob/8578430329d9a582ba92545859adb8fc45854f5b/pyinfra/api/util.py#L164) in FallbackDict sets the default type to None but normally trying to access an attribute on a Python object which does not exist will result in an AttributeError. I think the behavior here deviates from what an experienced Python user would expect (an excepti

[2022-03-11 02:55] lun-4 opened #776 "Possible future breakage: files.replace and Python 3.10"
[PEP 622](https://peps.python.org/pep-0622/#backwards-compatibility), which introduced `match` and `case`, says:

So as of Python 3.10, nothing breaks. I think we should consider future-proofing `files.template`'s `match` parameter as it's possible they become proper keywords in the future, same as how `async` and `await` were introduced in Python 3.5 and 3.6, but had their syntax restricted in Py

[2022-03-11 03:28] drewp opened #777 "files.makedirs has no apparent effect"
bad:
[code]

good:
[code]

--> Support information:

    If you are having issues with pyinfra or wish to make feature requests, please
    check out the GitHub issues at https://github.com/Fizzadar/pyinfra/issues .
    When adding an issue, be sure to include the following:

    System: Linux
      Platform: Linux-5.13.0-30-generic-x86_64-with-glibc2.34
      Release: 5.13.0-30-generic
      Mach

[2022-03-11 22:18] Fizzadar commented on #773
I'm pro this change in the upcoming v2 - agree that the current behaviour deviates from what you'd expect. I believe I originally made the choice to replicate `jinja2` which does the same (by default), but that was many years ago :)

I think the behaviour should change to match Python:

[code]

[2022-03-11 22:22] Fizzadar commented on #767
@PermanAtayev my apologies - my workaround actually has exactly the same issue. The fact will always be executed on all hosts. A quick hack for now could be to ignore errors:

[code]

This should get you going. Alternatively you could try out [`v2.0.dev0` ](https://pypi.org/project/pyinfra/2.0.dev0/) which should properly resolve this issue. This is an unfortunate gotcha with the way v1 generates

[2022-03-11 22:26] Fizzadar commented on #777
Hi @drewp - was a bit confused by this, `files.makedirs` isn't an operation at all! It's actually just importing `os.makdirs` which is [imported/used in the `files.py` module](https://github.com/Fizzadar/pyinfra/blob/current/pyinfra/operations/files.py#L13). Using the [`files.directory`](https://docs.pyinfra.com/en/1.x/operations/files.html#files-directory) operation should enable you to achieve t

[2022-03-12 02:14] drewp commented on #777
Ha, I see. I probably got it from autocomplete and assumed it must be an operation.
Possible fixes:
* put `del makedirs' (etc) at the bottom of files.py
* (probably better) put an `__all__` global in files.py listing the things you do want to export
* `import os` instead of `from os import makedirs` would have been enough here, since I'm not going to accidentally write `files.os.makedirs` in my co

[2022-03-15 14:57] wookayin commented on #476
Not only mypy but also other static type checkers like pyright (as LSP server) will complain about the signature because they cannot process the decorator during static type checking.

One thing worth considering is ParamSpec (PEP 612): see https://github.com/microsoft/pyright/issues/774 and https://peps.python.org/pep-0612/ , but this does not allow introducing additional kwargs to a ParamSpec.

[2022-03-16 01:32] jmpolom commented on #773
I agree with the proposed behavior change. This should not deviate from standard python behavior.

[2022-03-16 11:00] Fizzadar commented on #777
🤣

Unfortunately `__all__` doesn't prevent such imports, I'll change things to just `import os` and use `os.makedirs` etc!

[2022-03-16 11:01] Fizzadar commented on #776
Agree 100%, v2 is a good chance to rename this and can setup a warning/conversion in v1.8.

[2022-03-16 11:18] Fizzadar opened #779 "Stop lowercasing package names"
+ in fact parsing
+ in `ensure_packages` operation util

[2022-03-16 11:18] Fizzadar commented on #772
Cancelling as this would actually be breaking, and https://github.com/Fizzadar/pyinfra/issues/779 is a cleaner solution.

[2022-03-16 11:18] #772 closed, assigned to nobody

[2022-03-16 11:19] Fizzadar commented on #769
It dates back to 2015! https://github.com/Fizzadar/pyinfra/commit/ea437eeff89fac0274a4d709bee56e9606d31131

I think the idea was to normalise everything for case-insensitive package managers. I agree this is incorrect and that actually all package name lowercasing should be removed. Added https://github.com/Fizzadar/pyinfra/issues/779.

[2022-03-16 14:25] romaia opened #780 "Pyinfra tries to connect to first ip only."
## Describe the bug
I have a situation my hosts have multiple IPs, but only one is accessible. Pyinfra seems to only try to connect to the first ip resolved. For instance:

[code]

If (by any chance) the order is reversed, pyinfra manages to connect. SSH also manages to connect: it will timeout for the first ip, but will try the second after that. I have also decreased `ConnectTimeout` in my ssh c

[2022-03-16 14:54] swsnr commented on #779
Thanks :heart:

[2022-03-16 15:04] ghost opened #781 "Allow facts be reloaded dynamically during a deploy"
## Is your feature request related to a problem? Please describe
When trying to deploy a server I need to wait until a container has finished what it is doing (in this case pushing container images to a registry). I know when this is done by checking if the container exits in a running state. I can only check this one time at the beginning of a deploy using:
[code]

Which, maybe I am doing this wr

[2022-03-17 09:47] PermanAtayev commented on #767
I will check [v2.0.dev0](https://pypi.org/project/pyinfra/2.0.dev0/) because ignoring errors is not really an option.
Thank you :)

[2022-03-17 16:26] drewp commented on #777
Whoa, I never knew `__all__` was only to control `import *`!

Your fix sgtm.

[2022-03-19 18:30] Fizzadar commented on #754
👍 agreed, too strict vs. human readability, keeping this to just isort/black!

[2022-03-22 11:57] sabuhish commented on #780
Hi, any update or fix?

[2022-03-22 14:06] Fizzadar commented on #780
This is an upstream issue with `paramiko`, which version do you have installed (`pip show paramiko`)?

Looking at the code it appears paramiko should try all available IPs: https://github.com/paramiko/paramiko/blob/361a60d44a00e469d8ff6e84519ae5afcbaa7e9f/paramiko/transport.py#L428-L450

[2022-03-22 14:06] Fizzadar opened #782 "Include paramiko version in `--support` output"
Possibly list all dependency packages, but paramiko most importantly.

[2022-03-27 17:56] nepeat opened #783 "systemctl unrecognized option --legend=false"
## Describe the bug
systemctl error with unrecognized option when attempting to alter service state with pyinfra

[code]

## To Reproduce
Ubuntu 20.04 LTS machine on Oracle Cloud

[code]

## Expected behavior
Service is enabled and restarted via systemd.

## Meta
Possible issue introduced via https://github.com/Fizzadar/pyinfra/commit/4d42f7a9aed3096808887d2064e76a2ea76516e4

[2022-03-27 18:59] Fizzadar commented on #783
Thanks for reporting this @nepeat - looks like the flag is only available in the latest versions of systemd; I've reverted the change and released a fixed `v1.7.2`.

[2022-03-27 18:59] #783 closed, assigned to Fizzadar

[2022-03-27 19:19] Fizzadar commented on #781
Fantastic idea! This could be a simple `host.reload_fact(...)` that works like `get_fact` but ignores any cached value.

[2022-03-30 13:21] themanifold commented on #715
Just wanted to make it clear that what you do to set this is, for example, in `group_data/all.py`, add `ssh_config_file = "custom_ssh_config"`. If you wanted to set a custom config per group, then you would put that into an appropriate `group_data/some_group.py`.

Writing this because there are no docs apart from this line of code: https://github.com/Fizzadar/pyinfra/blob/7bdf55db6e5e94f7b3d87cbf0

[2022-03-31 07:15] Fizzadar opened #784 "Document the new SSH configuration data variables"
See: https://github.com/Fizzadar/pyinfra/issues/715#issuecomment-1083133455

There's recently been a lot of additions none of which are documented.

[2022-04-04 06:16] Fizzadar opened #785 "Use rich"
Drop the custom progress bar.

Can potentially show logs in pager, etc.

[2022-04-04 14:10] romaia commented on #780
I had 2.9 installed:

[code]

I upgraded to the latest version (`2.10.3`) and it still fails to connect.

When I try using ssh, I get this (some information redacted):

[code]

[2022-04-04 14:24] romaia commented on #780
I tried adding some debugging code to this code you pointed to in paramiko, but it doesn't seem to be going through that.

[2022-04-05 17:00] Fizzadar opened #786 "`force_backup_dir` in files operations incorrectly combines full path + backup directory"
(from discord, cc @pylang)

## Describe the bug

[2022-04-06 20:03] drennalls commented on #712
@Fizzadar The link seems to be broken again.

[2022-04-07 05:21] drewp opened #787 "multiple files that work individually fail together"
Here's my launcher, using `invoke`:
[code]

The configs work separately.

When I run in `together` mode (pyinfra inventory.py a.py b.py ...), it doesn't work in 2.0rc1:
[code]

nor in 1.7.2:
[code]

[2022-04-07 05:22] drewp opened #788 "v2.0rc1 update notes"
I tried 2.0rc1 on my setup:

- "The `match` argument has been replaced by `text` in the `files.replace` operation" has no line number, but other warnings do. Odd.

- Running just my first two config scripts (~40 steps on ~4 hosts), the timing is:
[code]

When I run all my configs in 11 pyinfra invocations:
[code]

Nice!

[2022-04-08 20:34] Fizzadar commented on #787
Finally tracked this down - way back to v1.3!:

https://github.com/Fizzadar/pyinfra/commit/24b8704c6cdf85d33b82cfa5ad61272625f10945#diff-a0bc476655b0a490b3fd21803c145ea405618bea9902c1a4d74a77380ceaa461L217-L218

Todo: fix, add test

[2022-04-08 20:35] Fizzadar commented on #787
Finally tracked this down - way back to v1.3!:

https://github.com/Fizzadar/pyinfra/commit/24b8704c6cdf85d33b82cfa5ad61272625f10945#diff-a0bc476655b0a490b3fd21803c145ea405618bea9902c1a4d74a77380ceaa461L217-L218

Todo: fix, add test

[2022-04-08 20:37] Fizzadar commented on #788
Will fix that, nice spot!

This is excellent, and somewhat surprising too :)! Out of interest are the operations varied between hosts in this example? The new op gen stage should be much improved in such scenarios.

[2022-04-09 19:51] Fizzadar commented on #329
And it's finally live!

[2022-04-09 19:51] #329 closed

[2022-04-09 19:54] Fizzadar commented on #758
Support for this is now released in v2 :)

[2022-04-09 19:54] #758 closed, assigned to Fizzadar

[2022-04-09 19:57] Fizzadar commented on #773
This is now live in v2 (and shows warnings in v1.7.!!).

[2022-04-09 19:57] #773 closed, assigned to Fizzadar

[2022-04-09 19:57] Fizzadar commented on #779
Now live in v2!

[2022-04-09 19:57] #779 closed, assigned to Fizzadar

[2022-04-09 19:58] Fizzadar commented on #620
Released in v2

[2022-04-09 19:58] #620 closed, assigned to Fizzadar

[2022-04-09 19:58] Fizzadar commented on #667
Released in v2

[2022-04-09 19:58] #667 closed, assigned to Fizzadar

[2022-04-09 19:58] Fizzadar commented on #668
Released in v2

[2022-04-09 19:58] #668 closed, assigned to nobody

[2022-04-09 19:58] Fizzadar commented on #669
Released in v2

[2022-04-09 19:58] #669 closed, assigned to Fizzadar

[2022-04-09 19:58] Fizzadar commented on #707
Released in v2 🎉

[2022-04-09 19:58] #707 closed, assigned to Fizzadar

[2022-04-09 19:59] Fizzadar commented on #695
Released in v2!

[2022-04-09 19:59] #695 closed, assigned to Fizzadar

[2022-04-09 19:59] Fizzadar commented on #735
Added & running

[2022-04-09 19:59] #735 closed, assigned to Fizzadar

[2022-04-09 20:00] Fizzadar commented on #767
v2 is now out which should resolve this, please re-open or make a new issue if there are still problems :)

[2022-04-09 20:00] #767 closed, assigned to nobody

[2022-04-09 20:01] Fizzadar commented on #722
v2 & `_` prefixed global arguments are now live :)

[2022-04-09 20:01] #722 closed, assigned to nobody

[2022-04-09 20:02] Fizzadar commented on #698
v2 is now live which loads up any `group_data` directory next to the inventory file, which fixes this issue!

Also adds a `--group-data` flag to add additional directories.

[2022-04-09 20:02] #698 closed, assigned to nobody

[2022-04-09 20:05] #564 closed, assigned to Fizzadar

[2022-04-09 20:06] Fizzadar commented on #777
Me either, only discovered it looking into this!

v2 + 1.7.1 include the fix as above.

[2022-04-09 20:06] #777 closed, assigned to Fizzadar

[2022-04-09 20:07] Fizzadar commented on #787
Now fixed in v2 (https://github.com/Fizzadar/pyinfra/commit/ca348dd19e6f599712312412f209213eedbc1b8f) + v1.7.3 (https://github.com/Fizzadar/pyinfra/commit/f017edd08833bb8889cb124960f93ad7b2fdb24c)

[2022-04-09 20:07] #787 closed, assigned to Fizzadar

[2022-04-09 20:07] Fizzadar commented on #786
Now fixed in v2 (https://github.com/Fizzadar/pyinfra/commit/637d492c02c8666cd51dbe6e3535379f53eecf12) + v1.7.3 (https://github.com/Fizzadar/pyinfra/commit/f744418692ffc8d97a5d1dfbef07eb766f0bfa95)

[2022-04-09 20:07] #786 closed, assigned to nobody

[2022-04-09 20:08] Fizzadar commented on #788
Added the call location to the warning in https://github.com/Fizzadar/pyinfra/commit/5dcc99db73af610337179f9bf273bc6780f320ea!

[2022-04-11 12:24] FullByte commented on #712
Seems like this is the case because branches where introduced (e.g. 2.x).

FYI: Correct link is now https://github.com/Fizzadar/pyinfra/tree/2.x/examples

Possibly more links referring to this repository are broken due to this?

[2022-04-13 07:23] Fizzadar opened #789 "Support `accept-new` for host keys in SSH config"

[2022-04-13 07:32] Fizzadar opened #790 "Improve summary output at end of execution"
[code]

⬇️

[code]

Thank you for the idea @hifi!

[2022-04-14 11:00] julienlavergne opened #791 "files.link did not remove old link pointing to "different" target"
## Describe the bug
When a symbolic link exists, points to a directory and contains a trailing separator, using `files.link` to create a link to the same folder without the trailing separator will not replace the existing link.

According to the doc:
If the link exists and points to a different target, pyinfra will remove it and recreate a new one pointing to then new target.

## To Reproduce

[co

[2022-04-16 09:42] Fizzadar commented on #791
Hi @julienlavergne on what kind of target machine are you seeing this? I cannot replicate on MacOS local nor in an Ubuntu 20 container:

[code]

[2022-04-16 17:54] wookayin commented on #476
I wish this were included in v2.0 release, but still looking forward to it.

[2022-04-16 20:15] Fizzadar commented on #476
Hm. I can't replicate this (the error) with either `mypy` or `pylint`; using the following example:

[code]

This passes with both tools as the decorator seems to effectively disable all type checking on the function args as it interprets them as `*args, **kwargs`. So this is useless but also should not be raising the original error here?

---

Regarding fixing typing properly in the future I had

[2022-04-17 12:36] #754 closed, assigned to Fizzadar

[2022-04-17 12:57] Fizzadar commented on #789
Released in `v2.0.1` (considered a bug in the SSH connector).

[2022-04-17 12:57] #789 closed, assigned to Fizzadar

[2022-04-17 12:57] #788 closed, assigned to nobody

[2022-04-17 12:58] Fizzadar commented on #784
Included in v2; https://docs.pyinfra.com/en/2.x/connectors/ssh.html#available-data.

[2022-04-17 12:58] #784 closed, assigned to Fizzadar

[2022-04-17 12:58] Fizzadar commented on #776
Rolled this out in v2, renamed to `text` and shows a warning for the old `match` argument.

[2022-04-17 12:58] #776 closed, assigned to nobody

[2022-04-17 14:07] Fizzadar commented on #184
This is now in alpha as of v2!

[2022-04-17 14:07] #184 closed

[2022-04-17 14:07] #414 closed

[2022-04-17 14:08] #478 closed

[2022-04-18 01:12] wookayin commented on #476
In my environments: python 3.9.7, pylint 2.13.5. It does give the error as follows (and so does pyright / VS Code, etc.). Looking at upstream issues, I don't think those checkers disable type checking on decorated functions yet as of now.

[code]

`ParamSpec` is available via `typing-extensions` backport so older python < 3.10 versions can still make use of the new feature. We can use `if types.TY

[2022-04-18 04:37] jmpolom opened #794 "config.SUDO not respected for 2.0.1"
## Describe the bug
A deploy beginning with:
[code]

does not seem to result in every fact or operation being executed with sudo. This worked in 1.x as recently as 1.7.3 (as expected? this is really not documented).

Perhaps I am dense and missing some necessary magical incantations to get this working in 2.x. The changelog notes "config variables must now be set on the global config object" for 2

[2022-04-19 01:45] julienlavergne commented on #791
I provided python uname output in the description. This is Red Hat 7.
I have same result on CentOS 7, CentOS 6 and Red Hat 6.

[2022-04-19 13:52] julienlavergne opened #795 "Wrong order of operation when using a context manager and python function"
## Describe the bug
For some reason, having some operations run from a context manager and some other encapsulated in a python function raise a wrong order of operations.
It is not clear yet if this is due to the context manager or not.

See non working and working example below, notice the only difference is the fact that the command is put in a python function.

## To Reproduce
DOES NOT WORK:
[c

[2022-04-20 02:04] jmpolom commented on #794
Looks like this was fixed in commit 88bbbeeb0ca0e2cda0690c532207b874205974ff -- probably worth making a new release as this seems like a pretty major bug breaking an essential feature (priv esc).

[2022-04-20 03:28] julienlavergne commented on #795
I can see the issue comes from the way operation are ordered by line number.
Could you clarify why we are sorting operations by line number instead of appending them one by one in the order in which they are created ? I seems to me the creation order is already the correct order, by I am probably missing something.

[2022-04-20 03:35] julienlavergne commented on #795
I can make that specific example work by performing following changes ( which are probably wrong but just for the sake of the discussion).
[code]

[2022-04-20 08:30] Fizzadar commented on #794
Agreed; I have just released a hotfix `v2.0.2` that includes the commit!

[2022-04-21 07:21] julienlavergne opened #797 "Authentication error with Paramiko 2.9.0+ on older systems"
## Describe the bug
As mentioned in this paramiko issue https://github.com/paramiko/paramiko/issues/1984, some additional parameters must be passed to `connect` in some cases.
Without those parameters, we hit an Authentication Error.

## To Reproduce
Simply connect to an old enough host, I can reproduce the issue on RedHat 6.10

## Expected behavior
Paramiko can be configured to work on older syst

[2022-04-23 14:55] sysadmin75 commented on #791
I might be missing the true nature of the bug, but to me, this does not feel like a bug.
This behavior is the same for `ln -s`.

In this example, I'm demonstrating how creating a symlink using a slash at the end of the target behaves.
[code]

In this example, I'm demonstrating the same as above, but I'm not using a slash in the target.  This shows that the order of operations matters.
[code]

[2022-04-24 15:48] brejoc opened #799 "Use distro information in `server.packages` (apt would be picked over zypper)"
https://github.com/Fizzadar/pyinfra/blob/c1c9437716c847f24d032543443ad7f483ac0931/pyinfra/operations/server.py#L520-L521

While this should work in general, I think this might deliver surprising results for example for openSUSE. An openSUSE install is shipping aptitude with a symlink to apt. But apt might behave different from zypper, which most people would expect to be invoked in this case.

Che

[2022-04-25 01:58] julienlavergne commented on #791
You created another symlink inside your target folder, that is why you cannot see the new link. Use `ln -nfs` to create your links.

[2022-04-25 13:36] themanifold opened #800 "File that matches regex of `--limit` CLI flag halts run"
## Describe the bug
A file in the root of a pyinfra project that matches regex of `--limit` CLI flag halts run. The file that matches seems to be treated like a target host in the inventory.

## To Reproduce
Steps to reproduce the behavior (include code & usage example):

1. Directory structure and code:

`inventory.py`, contents:
[code]
`example-file`, empty
`test.py`, contents:
[code]
2. Command

[2022-04-29 06:10] julienlavergne opened #801 "Wrong link_target in Link Fact on RHEL 6"
## Describe the bug
Running `stat` on a link on a RHEL 6 os returns the following file line:
`` File: `xxx' -> `yyy' ``

The link_target returned by the fact is set to `` `yyy `` in that case, instead of the expected `yyy`.

Note that on top of trimming `'`, we also need to trim `` ` ``

[2022-04-29 09:31] julienlavergne opened #802 "host.data is shared across all hosts"
## Describe the bug
`host.data` seems to be shared across all hosts despite the fact that it is in the host object.

I ran this simple test because I was observing some weird behavior when running operations across multiple hosts, having operations marked as skipped randomly on some hosts despite the fact that there was exactly the same number of operations and command to run on all hosts.

## To

[2022-05-02 21:25] oz123 opened #804 "Add encrypted password for server.user"
Currently, pyinfra does now allow setting a user's password.

https://docs.pyinfra.com/en/1.x/operations/server.html#server-user

Sometimes it's required that users have a password. Adding in an ecrypted format would be great:

e.g:
[code]

[2022-05-03 09:00] themanifold commented on #804
Here is a workaround:

[code]

[2022-05-03 09:40] Fizzadar commented on #791
Is it possible this is caused by #801?

@julienlavergne would it be possible to get the full run with `-vvv --debug` flags added? I cannot replicate this which makes it hard to debug!

[2022-05-03 09:42] Fizzadar commented on #800
Hi @themanifold - this is actually a shell problem/gotcha! You need to quote any glob-like patterns (`--limit 'example*'`) otherwise the shell will automatically expand the filenames before being passed into pyinfra. Ref: https://www.gnu.org/software/bash/manual/bash.html#Filename-Expansion

[2022-05-03 09:42] #794 closed, assigned to nobody

[2022-05-03 09:47] Fizzadar commented on #799
Hi @brejoc! Thank you for reporting this, indeed `zypper` should be preferred on openSUSE. The issue with distro mapping is maintenance, although perhaps a combination of mapping with fallback as existing makes sense.

I'm going to push a quick fix for this as-is by re-ordering so `zypper` is preferred and leave this issue open to track the distro based improvement.

[2022-05-03 09:50] themanifold commented on #800
Gah, can't believe I fell for this. Every time. Thanks for looking at it though.

[2022-05-03 09:50] #800 closed, assigned to nobody

[2022-05-04 01:43] julienlavergne commented on #791
Yes, here is the debug log. I changed some names for privacy but I did not remove any line.

[2022-05-04 06:02] julienlavergne opened #805 "What are the advantages of gathering facts beforehand ?"
## Is your feature request related to a problem? Please describe
I have been modifying a local version of pyinfra in order to solve different issues (some of them posted as github issues here), and I came to the conclusion that there is not much advantages in gathering facts before operations.
Actually, most of the limitations and weird behaviors I see would be solved by gathering facts along the

[2022-05-04 12:52] themanifold opened #806 "Nested operations do not support programmatic sudo"
## Describe the bug
Trying to use nested operations which require programmatic sudo access throws `AttributeError`

UPDATE: perhaps this should just be that nested operations do not support custom config attributes(?)

## To Reproduce
[code]

## Expected behavior
I would expect a nested operation to support programmtic sudo access

## Meta
+ Include output of `pyinfra --support`.
[code]

[2022-05-07 06:56] drewp opened #807 "hard to remove file-or-link"
[code]
If I run 1,2,3 I get
`--> pyinfra error: /etc/resolv.conf exists and is not a file`

If I run just 2,3 I get (on another host)
`--> pyinfra error: /etc/resolv.conf exists and is not a link`

If I run just 3 I get no errors, but I'm left with some hosts having a symlink and some having a file.

I expected just 3 to work and replace symlinks with the templated file.

May be related to #791

#

[2022-05-07 07:05] drewp commented on #807
I thought this would be a workaround:
`server.shell(["[[ -L /etc/resolv.conf ]] && rm /etc/resolv.conf"])`

[code]

[2022-05-07 08:37] Fizzadar commented on #805
Thank you for writing this up @julienlavergne - this has recently been on my mind also. I'm going to document the context of why this is the case below (this will be long I think :)), and give my thoughts.

Firstly, let's split the problem into two distinct parts:

+ Ordering operations correctly
+ Gathering facts on operations (pre-execution vs. execution)

## Historical Context

Prior to v2, pyi

[2022-05-07 08:39] Fizzadar commented on #806
The config variable here should be `USE_SUDO_PASSWORD`, that should work as expected!

[2022-05-07 08:41] Fizzadar commented on #802
This is currently the expected behavior - data defined in the group files is shared (as in the variables themselves) between all the hosts. [Using host data](https://docs.pyinfra.com/en/2.x/inventory-data.html#host-data) would be appropriate to keep it scoped to a single host.

Is this the right behavior? I think so, maybe? It definitely needs documenting either way!

[2022-05-07 08:42] Fizzadar opened #808 "Host data files"
We already have `group_data/*.py` files, why not `host_data/my-host.net.py` files?

[2022-05-07 14:58] sysadmin75 commented on #807
I think you want the `force` option.  You should be able to only have one operation when using `force`.
So you should be able to get away with doing:
[code]
And this should work for both symlink and regular files.

The downside of doing this is the file is renamed, instead of fully being deleted.

[2022-05-10 02:50] julienlavergne commented on #802
There is no advantages in sharing it. If executions of the operations happens in parallel on all hosts, and if those variables can be written to, then the result is going to be unpredictable.
Python already natively provides way to share variables across all operations, so there is no need to create a mechanism for it.

What is missing however, is a way to have variables scoped at host level. It i

[2022-05-10 03:28] julienlavergne commented on #805
Coming back on your example:

The flow I am referring to is the following:

In parallel on all 4 servers:
1. Connect to the host
2. Execute `deploy.py`, which gather facts and run commands along the way

If I take the different points you mention, I think they can be supported with this flow:
- Dry Run: Seems to be trivially supported by running the `deploy.py` without executing the commands. You

[2022-05-10 10:25] julienlavergne commented on #802
Note that the end result will be different if we are dealing with immutable variable like integer or string, or mutable like list or dict.
Especially, setting an immutable variable on one host will not show the new value on another host, even if that variable is declared in the group file.

So it behaves as if a function was called with the host data passed in parameter, but not as if it was the s

[2022-05-12 19:23] Fizzadar commented on #802
I agree that there is no sensible use-case for this - I actually think group data should be immutable once loaded. If needed it's possible to set override data like `host.data.X = "y"` without touching the original values.

So I'd suggest just making all initially loaded inventory data (both host & group) immutable.

[2022-05-12 19:31] Fizzadar commented on #805
The problem with doing this is it breaks a number of scenarios in which the order across multiple costs is essential. Really anything involving a control / worker node setup. For example bootstrapping an Elasticsearch cluster might look like:

+ Install ES apt package on all four nodes `control-1`, `data-1`, `data-2`, `data-3`
+ Setup config on all fur nodes
+ Start ES with some init config on `co

[2022-05-12 19:37] Fizzadar commented on #797
Whoops I missed this one; should now be possible to handle this by setting [`host.data.ssh_paramiko_connect_kwargs`](http://docs.pyinfra.com/en/2.x/connectors/ssh.html#available-data) which can set arbitrary Paramiko `SSHClient.connect` kwargs as needed here.

[2022-05-13 08:46] julienlavergne commented on #805
Pyinfra is not the right tool for that. I am doing similar things on my side, and there is better ways to do it than pyinfra.

Setup/configuration and actually deploying/running an application are two different things that comes with their own challenges and pyinfra is not equipped at all to deal with the challenges of bringing a cluster of applications up.

Typically, bringing up an ES cluster ne

[2022-05-13 09:34] julienlavergne commented on #802
Having a mutable storage per host would, in my opinion, cover all cases.

1. If you do not need to change this data, it does not matter whether it is mutable or not. `host.data` is fine for that.
2. If you do need mutable data common to all hosts, you can simply import a python module that contains this data. No need for pyinfra support here.
3. We are left with the case where someone need mutable

[2022-05-13 11:06] Fizzadar opened #809 "Accept IO-like objects for SSH key"

[2022-05-13 12:40] Fizzadar commented on #802
Seems reasonable to me, definitely `host.data` should always be host-scoped, so let's start with that. I agree this as a bug because I think this behaviour is unexpected and should not be relied upon.

[2022-05-13 12:48] Fizzadar commented on #805
I can absolutely say pyinfra works incredibly well for the ES use case, it's one of the places it was first used at scale within a company environment to manage tens of large (300+ node) clusters.

I am aware of its use in production today for all sorts of setups including ES, MariaDB and Kubernetes clusters. The operation ordering is relied upon to provide consistent idempotent deployment of thes

[2022-05-16 13:29] Tezar opened #811 "Documentation: bad link in examples"
https://docs.pyinfra.com/en/2.x/examples.html points to bad link in the repo

[2022-05-17 01:29] julienlavergne opened #812 "New argument to complement _ignore_errors to continue op commands on error"
## Describe the bug
When using `server.user` operation, with `_ignore_errors=True`, the operation stops at first error.

Especially, when trying to change user home directory and change ssh keys in authorized keys, ssh keys won't be changed if the user home directory fails to be modified.

In my case, changing user home directory fails with error `usermod: user XXX is currently used by process 149

[2022-05-17 01:33] julienlavergne opened #813 "server.user ensure_home fails on symbolic link"
## Describe the bug

If user home directory exists and is a symbolic link, using `server.user` operation with `ensure_home=True` will fails saying home directory is not a folder.

## To Reproduce
On a user whose home directory is a symbolic link

[code]

## Expected behavior
`ensure_home` should create the directory if needed. But if there is already a symbolic link pointing on a directory, then t

[2022-05-18 06:55] themanifold commented on #806
OK, so I think what I used to do was create a global variable in the config object call `USE_REMOTE_PASSWORD` and that I passed to `use_sudo_password`. Now what I'm doing is just setting `config.USE_SUDO_PASSWORD` and `config.SUDO` at the top of the code and everything now works apart from the nested operation which just seems to ignore the config settings and not embed the shell snippet within th

[2022-05-18 09:09] julienlavergne opened #814 "Wrong order of operation when using preserve_loop_order inside a function"
## Describe the bug
Operations are not performed in the correct order when using `state.preserve_loop_order` inside a function.

We can see in debug output that the function enclosing the `state.preserve_loop_order` is missing in the line numbers used to order operations.

## To Reproduce
[code]

Output is
[code]

## Expected behavior
`first_function` is printed before `second_function`

I would s

[2022-05-18 09:16] julienlavergne opened #815 "Exception when calling an operation inside the preserve_loop_order context"
## Describe the bug
An exception is raised when putting an operation inside the `preserve_loop_order` context but outside the loop.
I do not have use cases where I need that but I think it is not supposed to be a problem.

## To Reproduce
This is a example demonstrating the issue, simplified from a bigger task.

[code]

[code]

## Expected behavior
no exception

## Meta
v2.1

[2022-05-19 03:35] julienlavergne opened #816 "Wrong operation order when using preserve_loop_order with a "large" number of hosts"
## Describe the bug
When using enough hosts and operations, there is a race conditions that caused the operations to be executed in an unpredictable order. I was able to have a minimum working example extracted from a bigger task that can consistently reproduce the issue.

## To Reproduce
insert some random sleep in the script to simulate some python execution time. Have enough hosts, but 2 may be

[2022-05-19 09:01] julienlavergne commented on #805
To come back to the original question. What can be done when splitting the execution in 2 steps that cannot be done without this split ?
I think it important to answer that because this split comes at the great cost of:
- not being able to react dynamically to output and exit code of operations.
- having things like preserve_loop_order and assume_present
- not supporting some native python constru

[2022-05-20 07:01] julienlavergne opened #818 "files.line does not produce a file with the expected line"
## Describe the bug
`files.line` fails to ensure the line is present in the file if the content of the line match partially another line in the file.

## To Reproduce
file is `test.txt`
[code]

task is:
[code]

result file is:
[code]

Logs
[code]

## Expected behavior
result file is:
[code]

## Meta
v2.1

[2022-05-21 10:05] ubipo commented on #805
I think at least the following would be difficult with single-run execution:

- the 'same'[1] operation on each host:
  - cannot be displayed as a group in the summary output (a)
  - cannot be interactively approved/disapproved as a group (b)
- synchronization of inter-host dependent operation is more difficult (c)
- generating a diff file for later execution (d)

## The 'same'[1] operation cannot

[2022-05-21 19:03] StefanBRas commented on #811
Fixed in PR  #810

[2022-05-23 03:23] julienlavergne opened #819 "pyinfra may run a filesystem check that triggers a machine reboot"
## Describe the bug
While running this task:
[code]

the following command may be run on target host : `sudo /etc/rc.d/rc.sysinit check`, which triggers a host to reboot in order to perform a filesystem check, which cannot be performed on mounted devices.

## To Reproduce
I am not so sure what kind of host you need that, But I think it has to be a bit old, typically RHEL 6.

Task is trying to use

[2022-05-25 03:56] joserdot opened #820 "mysql.database - command() got an unexpected keyword argument 'user_hostname'"
## Describe the bug

Error when creating the database, does not know the default argument

## To Reproduce

[code]

## Expected behavior
Successful database creation

## Meta
+ Include output of `pyinfra --support`.
[code]
+ How was pyinfra installed (source/pip)?  pip

+ Consider including output with `-vv` and `--debug`

[debug001.log](https://github.com/Fizzadar/pyinfra/files/8767758/debug001.l

[2022-05-27 18:34] Fizzadar commented on #816
Nice catch! This must be a combination of parallel op generation x the preserve loop function.

[2022-05-27 18:37] Fizzadar commented on #814
Thanks for catching this, will investigate alongside the other issues with loops!

[2022-05-28 13:00] yunzheng opened #821 "Cannot add public_keys to root user without specifying home directory"
## Describe the bug
Adding `public_keys` to the `root` user fails unless you also specify the `home=` keyword to the `server.user` operation.

Reason is that the homedir is set to "/home/{user}" if `home` keyword is not set, however the default homedir of root is usually `/root` ofcourse. This causes pyinfra to call `usermod -d /home/root root` (and fail because root user is in use).

Note that th

[2022-05-28 13:44] yunzheng opened #823 "operation `files.line` does not correctly handle files that do not end with a newline"
## Describe the bug
When adding a line to a file that does NOT end with a newline in the file can cause the file to get corrupted or get unexpected contents. This can be easily tested when when adding public_keys to an account with an `authorized_keys` file that does not end with a newline.

## To Reproduce
Steps to reproduce the behavior (include code & usage example):

Create a test `authorized_

[2022-05-28 16:32] #821 closed, assigned to nobody

[2022-05-28 16:37] #811 closed, assigned to nobody

[2022-05-28 17:09] Fizzadar commented on #807
I think this is correct - by default the `files.[link|directory|file]` operations will raise these errors if the path exists and doesn't match the desired type. The `force=True` argument can be used to rename before creating the expected path. There is also a `force_backup` (default `True`) that can be set to `False` to remove the path without backup.

The `files.template` operation does not check

[2022-05-28 17:14] Fizzadar commented on #795
Wider discussion on why line number ordering exists in #805.

https://github.com/Fizzadar/pyinfra/pull/824 changes order to use call order & a DAG initially and only reverts to line-numbers to solve tie-breaks. Tested with this example and it correctly handles this case!

[2022-05-28 18:12] #797 closed, assigned to Fizzadar

[2022-05-28 18:12] Fizzadar commented on #781
This has been released in `v2.1`.

[2022-05-28 18:12] #781 closed, assigned to nobody

[2022-05-28 18:14] Fizzadar commented on #710
Calling operations inside callbacks is now supported in `v2.1` 🎉!

[2022-05-28 18:14] #710 closed, assigned to Fizzadar

[2022-05-29 10:41] Fizzadar opened #825 "Allow stdin to be an IO-like object"
Currently only accepts `str`, `list` or `tuple`.

[2022-05-30 07:31] julienlavergne commented on #795
ok

[2022-05-30 21:18] yun opened #826 "Add support for useradd -m, —create-home"
## Is your feature request related to a problem? Please describe
Currently when creating an user using pyinfra the `-m` or `—create-home` flag is not passed to the `useradd` command.
This flag ensures that the home directory is created but also initialized with files from the `/etc/skel` skeleton directory such as `.bashrc`, `.bash_aliases`, `.profile`, etc.

As a current workaround I currently sp

[2022-05-31 03:26] samegek opened #827 "how can i reuse ssh connection like ssh argument ControlMaster in pyinfra"
pyinfra host10.py exec -- whoami
this will connect ssh remote machine
then
pyinfra host10.py exec -- hostname
this will connect ssh remote machine
but i will reuse above ssh connection, dont reconnect remote

[2022-05-31 07:23] julienlavergne opened #828 "Dependency management between tasks"
## Is your feature request related to a problem? Please describe
Slightly inspired from Ansible meta file and the upcoming usage of graphlib, it would be nice to handle dependencies between tasks.
By task, I mean the complete content of a python file in the tasks folder (assuming we follow the directory structure of the documentation).

If one task B depends on a task A, then running the task B wi

[2022-06-01 03:21] julienlavergne opened #829 "Normalise non-octal integer file modes"
## Describe the bug
When using `files.directory` with `mode="u=rwx,g=rwx,o=rwx"`, the operation will always perform a chmod on the existing directory, even though the permissions are correct.
This is due to the fact that we compare the current permissions `777` to the requested mode `u=rwx,g=rwx,o=rwx`,  which are different strings.

## To Reproduce
[code]

[code]

## Expected behavior
We should b

[2022-06-01 03:58] julienlavergne opened #830 "mode parameter does not support other mode than read/write/exec"
## Describe the bug
According to chmod man page, there is other bits that can be set on files and directories.
https://www.man7.org/linux/man-pages/man1/chmod.1.html

Today, when those bits are set, pyinfra convert the mode to the integer `0` because it cannot recognize a valid conversion between the mode as a string and the integer value.

## To Reproduce
use `mode=1777"` or `mode="u=rwx,g=rwxs,o

[2022-06-02 11:51] Fizzadar commented on #829
This should definitely work as expected; this part of the codebase hasn't been touched in a very long time; here's the attempted normalisation:

https://github.com/Fizzadar/pyinfra/blob/dfad6ef512781407187ef91434388e6d705f2d3c/pyinfra/operations/util/files.py#L12-L25

The `files.*` facts all output octal values so would be good to have the above function also convert other variants such as your ex

[2022-06-02 13:06] #814 closed, assigned to Fizzadar

[2022-06-04 15:26] fbarthez commented on #533
Hey @taranlu-houzz, thanks for working on this! I just started playing with pyinfra (thanks @Fizzadar!) and ran into an issue with a cron command containing '&'. First run:
`45 2 * * * echo 'true' && echo 'true again'`
Second run:
`45 2 * * * echo 'true' 45 2 * * * echo 'true' && echo 'true again'45 2 * * * echo 'true' && echo 'true again' echo 'true again'`
Is there anything I can do to help your

[2022-06-04 17:53] Fizzadar commented on #820
Thanks for reporting this @joserafaelterra - should now be fixed in `v2.2` by https://github.com/Fizzadar/pyinfra/commit/e0f6fb56de092195a3f26871724f906a75ffd560. I've also added a test to prevent this kind of thing slipping through in the future (https://github.com/Fizzadar/pyinfra/commit/d47056c826db667c9dc963a510c195426af6a7b5).

[2022-06-04 17:53] #820 closed, assigned to Fizzadar

[2022-06-04 17:53] Fizzadar commented on #816
Now fixed as of `v2.2`!

[2022-06-04 17:53] #816 closed, assigned to Fizzadar

[2022-06-04 17:54] Fizzadar commented on #815
Now fixed as of `v2.2`!

[2022-06-04 17:54] #815 closed, assigned to Fizzadar

[2022-06-04 17:54] Fizzadar commented on #818
Thanks for reporting this @julienlavergne, now fixed in `v2.2` by https://github.com/Fizzadar/pyinfra/commit/11fbd6fdd6d13a0fe6416ab684faf3b6b43e21d0.

[2022-06-04 17:54] #818 closed, assigned to Fizzadar

[2022-06-04 17:56] Fizzadar commented on #795
This should now be fixed in `v2.2`!

[2022-06-04 17:56] #795 closed, assigned to Fizzadar

[2022-06-06 05:04] julienlavergne commented on #829
Do you mean that the existing code should be enough to have my example working ?

[2022-06-06 06:22] joserdot opened #831 "Facts - Hardware - Ipv4Addrs - TypeError: Ipv4Addrs.process_data() missing 1 required positional argument: 'data'"
## Describe the bug
The data argument is empty in code. Please review also the Ipv6Addrs Fact

## To Reproduce

inventory.py
[code]

deploy.py
[code]

Run:
[code]

## Expected behavior
Dict with network interfaces and address

## Meta
+ Include output of `pyinfra --support`.
[code]
+ How was pyinfra installed (source/pip)? pip

+ Consider including output with `-vv` and `--debug`.
[error_01.log](h

[2022-06-06 16:45] taranlu-houzz commented on #533
Hi @fbarthez, thanks for the info. I do still plan to get back to this PR someday, but unfortunately, I probably wont be able to in the near future. I will take note of the issue you mentioned though when I do finally get back to it.

[2022-06-07 07:36] themanifold opened #832 "TypeError: chown() got an unexpected keyword argument 'name'"
UPDATE: This also affects the `files.chmod()` operation

## Describe the bug
[code]
`files.chown()` operation does not accept the `'name'` keyword argument

## To Reproduce
[code]
will give you
[code]

## Expected behavior
I expect the `chown()` files operation to support the `'name'` argument like other operations

## Meta
[code]

+ How was pyinfra installed (source/pip)?
    - pip in a venv

[2022-06-09 06:59] href opened #833 "Run arbitrary operations through CLI"
## Is your feature request related to a problem? Please describe
The `pyinfra` CLI can be used to directly run operations as follows:

[code]

The code is clever enough to even allow fur custom user modules to be loaded.
That is, if I have a `foo.bar` operation in my environment, it can be called as follows:

[code]

The only thing: The code is rather rigid and only tries this route, if the passed

[2022-06-09 18:05] StefanBRas commented on #832
`chown` and `chmod` are not operations, but internal utils the are used in `files`. They are imported from `pyinfra/operations/util/files.py` as opposed to `pyinfra/operations/files.py`. They don't have the `@operation` decorator, which is what adds that keyword arguments to the signature. They are also not in the operation index in the docs so it's probably on purpose that they are not decorated.

[2022-06-09 22:03] ivan-sirosh opened #834 "How to debug?"
It is not clear how to run pyinfra programatically.
I would like to debug my own connector with all config paramaters but first attemp was failed.

[code]

it is not unclear from the documetation how to make it work

[2022-06-10 06:12] ivan-sirosh commented on #834
sorry  for the `bug` label

found answer there https://github.com/Fizzadar/pyinfra/blob/2.x/examples/do.py

[2022-06-10 06:12] #834 closed, assigned to nobody

[2022-06-10 22:45] sysadmin75 commented on #832
As @StefanBRas pointed out, there is no `chown` operation for the `file` operator.  You can see all the available file operations here: https://docs.pyinfra.com/en/2.x/operations/files.html

The solution you probably want is:
[code]

[2022-06-11 07:16] drewp opened #835 ""useradd: group foo exists - if you want to add this user...""
## Describe the bug

Possibly related to #700.

My code:
[code]
Target host says this:
[code]
(i.e. drewp exists but not drewnote) and my run goes like this:
[code]

## Meta

🛁 bang(pts/3):/my/proj/infra% env/bin/pyinfra --support

    System: Linux
      Platform: Linux-5.13.0-44-generic-x86_64-with-glibc2.34
      Release: 5.13.0-44-generic
      Machine: x86_64
    pyinfra: v2.2
    Executable:

[2022-06-13 06:06] #827 closed, assigned to nobody

[2022-06-13 06:07] samegek commented on #827
it can do this thing. im wrong

[2022-06-16 06:37] themanifold commented on #832
Ah, that makes sense.

I think making this change seems reasonable to distinguish "internal" methods. My IDE turned up a list of methods, and I picked the one that worked for me.

@sysadmin75 I assume you mean `files.file(..)`.

[2022-06-16 11:49] sysadmin75 commented on #832
Yes, I do mean `files.file`  I copied his example, but forgot to change the important part. :)

[2022-06-19 07:31] Fizzadar commented on #835
So it looks like by default `user add` will create a group with the same name as the user which is causing this clash (https://stackoverflow.com/questions/28734496/linux-useradd-group-user1-exists-if-you-want-to-add-this-user-to-that-group).

One immediate workaround would be to just call `server.user` and have that create the user. Proper fix is adding a check if the group already exists and spec

[2022-06-19 07:33] Fizzadar commented on #833
👍 I like this idea, will confirm it doesn't clash with any existing functionality but a good addition for sure.

[2022-06-19 07:37] Fizzadar commented on #832
Gah this has happened before with `path` imported into the files module (https://github.com/Fizzadar/pyinfra/commit/cc2c70bb26ba561c01f1462fa198dc8898b0348a). I think switching to import `until` directly and calling methods on that is safest here.

Would make sense to do a review of all module imports I think, unfortunately no way (I'm aware of) to hide non-operation ones.

[2022-06-19 07:39] Fizzadar commented on #831
Thanks for reporting this @joserafaelterra, will investigate and get this fixed ASAP!

[2022-06-19 07:40] Fizzadar commented on #829
If/once #830 is resolved it should work, but that is required first to normalise the different mode style.

[2022-06-19 07:41] Fizzadar commented on #823
Thanks for reporting this @yunzheng I'll look into this and fix ASAP.

[2022-06-19 07:47] Fizzadar commented on #827
@samegek did you manage to do this? I was about to reply saying I didn't think this was possible!

[2022-06-20 18:12] rsyring opened #837 ""Using the API" page not easily found in 2.x docs"
## Describe the bug

I was looking for the "Using the API" page in the 2.x docs.  It's easily found in the 1.x docs navigation under "How pyinfra Works" but I had to do a Google site search to find it in the 2.x docs.

It would seem it's still [present and rendered](https://docs.pyinfra.com/en/2.x/api/index.html) in 2.x docs but nothing links to it.

## Expected behavior

I would expect the page t

[2022-06-21 00:02] pikeas opened #838 "SSH to CA-trusted host"
## Describe the bug
Pyinfra prompts for SSH host key verification when the host presents a valid certificate trusted by the user.

## To Reproduce

[code]

## Expected behavior
Pyinfra should connect without prompting for host key verification.

## Meta
Pyinfra v2.2 macOS-12.3.1-arm64-arm-64bit, Python 3.10.5

[2022-06-21 06:04] julienlavergne opened #839 "Yum package reinstalled, even though it is already installed"
## Describe the bug
`yum.packages` sometimes does reinstall a package even when it is already installed.

I tracked does the behavior to he function `_has_package` in `pyinfra/operations/util/packaging.py`.

In my case, the variable `packages` contains `'gcc-c++': {'4.8.5-44.el7'}` and the variable `packages_to_check` is
`[['gcc-c++', '4.8.3-9.el7'], ['gcc-c++', '4.8.5-16.el7_4.2'], ['gcc-c++', '4

[2022-06-21 14:42] ghost opened #841 "files.put operation does not work with IO-like objects"
## Description of the bug
The `files.put` operation says it can "Upload a local file, or file-like object, to the remote system.", argument `src` can be "filename or IO-like object to upload". I can't get it to work though. In [the operation](https://github.com/Fizzadar/pyinfra/blob/2.x/pyinfra/operations/files.py#L873), it does:

[code]

`src` and `local_file` are always the same once you get her

[2022-06-24 12:53] mfrg opened #842 "Some windows_files ops broken"
## Describe the bug
It appears some of the windows file operations weren't fully converted from legacy to current.  Many of them use ``_create_remote_dir`` which proxies to the ``directory`` op but is attempting to pass along state and host too which is now incorect (https://github.com/Fizzadar/pyinfra/blob/2.x/pyinfra/operations/windows_files.py#L342).

## To Reproduce
Try to use [at least] the w

[2022-06-24 21:14] jave opened #843 "ImportError: cannot import name 'init' from 'pyinfra.operations'"
## Describe the bug
While trying to run an old pyinfra script, I get
ImportError: cannot import name 'init' from 'pyinfra.operations'

23:12:56-joakim@tanaka:~/infra/vagrant_mail_vm$ 	pyinfra  inventory-dev.py  bugvm.py
--> Loading config...
--> Loading inventory...
    Getting Vagrant config...

--> Connecting to hosts...
    [@vagrant/mailvm-dev] Connected

--> Preparing operations...
    Loadin

[2022-06-24 21:17] jave commented on #843
looking through gitlog, seems I should use systemd.service instead of init.systemd?

However the examples still mention init.systemd

[2022-06-25 11:34] jave commented on #843
ok, its not a bug, it might be a doc issue, but i close for now

[2022-06-25 11:34] #843 closed, assigned to nobody

[2022-06-26 01:36] alexjp opened #844 "using file.sync in a folder with symlinks on it"
## Describe the bug
I am trying to sync a folder with a symlink on it.
It seems pyinfra replaces the symlink into the "symlink destination" or ignores the symlink if its to a folder.

## To Reproduce
create a folder "test"
create file "test/1" and folder "test/a"
cd "test" and do "ln -s 1 2" and "ln -s a b"

pyinfra will copy the files 1 and replace symlink 2 with the destination, this case 1.
pyi

[2022-06-30 08:05] Fizzadar commented on #841
Thanks for reporting this @bouke-sf, looks like an issue specific to combining `assume_exists` and a IO-like object; I've pushed out a quick fix in https://github.com/Fizzadar/pyinfra/commit/689316761d888721f9d07e28eaa6759dc7926e4b just in time for v2.3 release :)

[2022-06-30 08:06] #841 closed, assigned to Fizzadar

[2022-06-30 08:10] Fizzadar commented on #835
Added a fix for this case in https://github.com/Fizzadar/pyinfra/commit/5765007be766012a985310e25a227736f916341c, now released in v2.3 (and quick test just added in https://github.com/Fizzadar/pyinfra/commit/0a74ac342d96917e5c542e987ff006e26561de18).

[2022-06-30 08:10] #835 closed, assigned to Fizzadar

[2022-06-30 08:11] Fizzadar commented on #832
Have renamed `chown` and `chmod` to avoid confusion in https://github.com/Fizzadar/pyinfra/commit/6d58f2433d2e8ac14d87f9087ba12a6a5f2f736c.

[2022-06-30 08:11] #832 closed, assigned to Fizzadar

[2022-06-30 08:14] Fizzadar commented on #813
This should now be fixed in https://github.com/Fizzadar/pyinfra/commit/5707fc04d181919da5ecae65dd44f869b5ce5961, released just now in v2.3. Just pushed an additional test in https://github.com/Fizzadar/pyinfra/commit/3397c5b90743e7560fc76c5c36d18a16fc2b88c4 as well.

[2022-06-30 08:14] #813 closed, assigned to Fizzadar

[2022-06-30 08:15] Fizzadar commented on #825
Support for this added in v2.3.

[2022-06-30 08:15] #825 closed, assigned to Fizzadar

[2022-06-30 08:16] Fizzadar commented on #826
Support added for this just now in v2.3 (https://github.com/Fizzadar/pyinfra/commit/9f0df3a4e68ff4c746061a42ff080ad5244d003d)!

[2022-06-30 08:16] #826 closed, assigned to Fizzadar

[2022-06-30 08:16] Fizzadar commented on #831
This has now been fixed in v2.3 via https://github.com/Fizzadar/pyinfra/commit/88270e75b693c6936a62ff94826b49250ee7903c, apologies for the delay on this one. Note to self: need to test short facts.

[2022-06-30 08:16] #831 closed, assigned to Fizzadar

[2022-06-30 11:42] yunzheng commented on #826
Nice!

[2022-07-01 00:50] felipoantonoff commented on #722
Hi @Fizzadar , thank you very much.

I ran the new version and it's getting 100% even for external host.

Solved my problem.
Sorry for the delay in testing.

I ran a test with server.shell, files.get, apt.packages and others and they all started normally on the Cloud, even very quickly as if I had it in the Cloud terminal, detail I'm running Pyinfra in São Paulo/Brazil and Cloud is in the USA.

Th

[2022-07-02 13:43] sysadmin75 commented on #844
If you use `files.rsync`, this will preserve your symlink structure.  I just tested this and it works.

[2022-07-02 14:54] sysadmin75 commented on #819
What OS is `host03`?

[2022-07-04 02:37] jaysoffian opened #846 "UnboundLocalError: local variable 'combined_output_lines' referenced before assignment"
## Describe the bug
[code]

## To Reproduce
See above.

## Expected behavior

Not to crash.

## Meta
+ Include output of `pyinfra --support`. See above.
+ How was pyinfra installed (source/pip)? pip
+ Include pyinfra-debug.log (if one was created) see above.
+ Consider including output with `-vv` and `--debug`.

I'm not seeing anything additionally useful when running with `-vv` and `--debug`.

Ho

[2022-07-04 02:46] jaysoffian commented on #846
Tentative fix:

[code]

(I'm not clear why specifying `config.USE_SUDO_PASSWORD` has anything to do with the issue.)

[2022-07-05 15:21] Fizzadar commented on #722
@FelipoAntonoff amazing! Thank you for following up, much apprecaited :)

[2022-07-07 19:09] alexjp commented on #844
thanks @sysadmin75 !

I was thinking on using files.sync, because the documentation says that : "The files.rsync operation is in alpha, and only supported using SSH or @local connectors.".

[2022-07-09 10:43] phlummox opened #850 "Clarify expected behaviour when connecting to Vagrant boxes - interaction required?"
## Describe the bug

When used from the command line, Hashicorp's `vagrant` is capable of ssh-ing to a newly created box without any password or user interaction being required to make the connection:

[code]

But trying to do the same with `pyinfra` results in a `No host key for [127.0.0.1]:2200 found in known_hosts, do you want to continue [y/n]` prompt being shown. Is this the expected behaviou

[2022-07-09 11:07] phlummox opened #851 "Documentation and example for "Using the API" throw exceptions when run"
## Describe the bug

The sample code contained in the "Using the API" documentation page (https://docs.pyinfra.com/en/2.x/api/index.html) and the [`api_deploy.py` example](https://github.com/Fizzadar/pyinfra/blob/2d4792eba3233c77a298d86e9638434688e3a1c5/examples/api_deploy.py) throw exceptions when run – specifically, line 122, which calls `pyinfra.api.facts.get_facts`:

https://github.com/Fizzada

[2022-07-10 07:48] phlummox opened #853 "`host.run_shell_command` is used in examples, but is undocumented (ditto for nearly all methods of `host.Host`)"
## Describe the bug

The [`host.run_shell_command()`][run_shell_command] method is used in examples – for instance, the ["Dynamic Execution during Deploy"](https://github.com/Fizzadar/pyinfra/blob/3397c5b90743e7560fc76c5c36d18a16fc2b88c4/docs/examples/dynamic_execution_deploy.md) example, here:

https://github.com/Fizzadar/pyinfra/blob/3397c5b90743e7560fc76c5c36d18a16fc2b88c4/docs/examples/dynamic

[2022-07-14 05:45] Fizzadar commented on #839
This appears to happen when there's multiple installed versions of a package already which then lists them all under `repoquery --whatprovides` which gets expanded into a list of `(package, [version])` tuples. What should happen (I think) is we end up with `(package, [version1, version2, ...])`.

[2022-07-14 05:52] #846 closed, assigned to nobody

[2022-07-15 09:06] phlummox opened #856 "Mention end-to-end tests in `contributing.md`/Tests"
## Is your feature request related to a problem? Please describe

  Running the end-to-end tests when doing development on `pyinfra` seems like a good idea, but they're not enabled by default - so contributors may be missing bugs that don't get caught until the Github "workflows" are run. Perhaps the [`contributing.md`][contrib] file could include a mention of how to run them?

[contrib]: https://

[2022-07-15 22:31] drewp opened #857 "no github release for 2.3"
https://github.com/Fizzadar/pyinfra/releases only goes to 2.2, which was a bit confusing.

[2022-07-16 06:57] Fizzadar commented on #857
Thanks for reporting this @drewp! Now fixed (https://github.com/Fizzadar/pyinfra/releases/tag/v2.3).

[2022-07-16 06:57] #857 closed, assigned to nobody

[2022-07-16 10:03] phlummox commented on #850
Some additional info on this bug/question, in case it's of use to anyone else encountering this issue.

## Workaround

A workaround is to explicitly invoke the pyinfra command with the command-line arguments `pyinfra --data ssh_known_hosts_file=/dev/null --data ssh_strict_host_key_checking=no`.

(But `pyinfra`'s behaviour is still odd, since those same command-line arguments are effectively contai

[2022-07-16 10:12] phlummox commented on #856
As an aside: running the end-to-end tests as a developer is much more pleasant if you can actually see what they're doing as they progress, i.e. logging the output as well as capturing it. For my own use, I amended `conftest.py` to do this, here —

https://github.com/phlummox-dev/pyinfra/commit/be35c458518e02300f8d11d73d5225f7fa8141cc

— but that might have unexpected effects on the tests. (e.g. s

[2022-07-17 14:42] Fizzadar commented on #812
I'm not sure this is the right approach for `_ignore_errors` which specifically ignores operation errors, rather than individual commands. Changing this behaviour to continue executing commands after a failure could have unintended consequences.

As an alternative I propose a new argument, `_continue_on_error` (or similar), which explicitly enables this behaviour.

[2022-07-17 14:47] Fizzadar commented on #17
With the latest changes in v2, in particular updating of facts during operation execution and the performance improvements, reduce the potential impact of pipelineing performance.

Still would be super helpful when doing a lot of file operations, but the implementation would be complex and I don't think pyinfra is considered bad for performance anyways :)

[2022-07-17 14:47] #17 closed

[2022-07-18 07:42] julienlavergne commented on #819
RHEL 6

[2022-07-18 07:45] julienlavergne commented on #812
I might prefer to have some more fine grained function to handle users. The current one is doing too much, but creating a user and managing authorized_keys are independent actions to me.

[2022-07-18 08:44] Fizzadar commented on #812
That's a great point. I think separating out a `user_authorized_keys` operation would be a good addition.

[2022-07-20 17:39] Fizzadar commented on #812
Have implemented the user keys operation here: https://github.com/Fizzadar/pyinfra/commit/1e3e5b4b8ec33d20dca14eb0deb0cf0f71e87cd7, and also added continue on error support in https://github.com/Fizzadar/pyinfra/commit/911594ba77ca34de38971f699eecd4b091cf1430.

[2022-07-28 07:28] samegek commented on #827
uncomment the following line in ssh config
![image](https://user-images.githubusercontent.com/14978256/181446776-a530bbfd-1733-49a1-a693-7534b1e48f2c.png)

[2022-08-01 10:35] julienlavergne opened #859 "CycleError with loop and more than 1 server"
## Describe the bug
When running operations in a loop on more than 1 server, there is cases that creates a "graphlib.CycleError".
This is due to the fact that we put every operations of every host in the same graph and check for cycle. The way operation hash is generated may create cycle.

## To Reproduce
I went to great length to understand the issue and ended up with a minimal example.
The rando

[2022-08-01 17:55] zachwaite opened #860 "lxd.container hangs forever using @local"
## Describe the bug
A clear and concise description of what the bug is.
Running the `lxd.container(...)` operation in a `@local` deploy never returns control and does not succeed

## To Reproduce
Steps to reproduce the behavior (include code & usage example):

[code]

[code]

## Expected behavior
A clear and concise description of what you expected to happen.

I expect to have a new lxd container

[2022-08-02 10:43] zachwaite commented on #860
I did some research on this and this appears to be a behavior of lxc. [https://discuss.linuxcontainers.org/t/lxc-launch-over-ssh-need-pseudo-terminal-allocation/6238](https://discuss.linuxcontainers.org/t/lxc-launch-over-ssh-need-pseudo-terminal-allocation/6238). Adding the `< /dev/null` in the underlying operation command [https://github.com/Fizzadar/pyinfra/blob/2.x/pyinfra/operations/lxd.py#L65

[2022-08-02 23:07] morrison12 opened #862 "fact cache write-back not working for files.directory"
## Describe the bug
It appears different keys into the `host.facts` cache are (sometimes ?) used depending on whether a fact is being retrieved or an operation is trying to update the fact cache with `host.create_fact`.

The example below uses permissions on a directory but the behaviour seems to be more general.

From what I can tell, there are couple of items that contribute to the cache keys be

[2022-08-03 14:20] morrison12 opened #864 "macOS-10.15 runner seems no longer supported"
## Describe the bug
Unit tests on macOS always fail as runner longer supported: see [this recent result](https://github.com/Fizzadar/pyinfra/actions/runs/2789933527) and [this announcement](https://github.com/actions/virtual-environments/issues/5583)

## To Reproduce
Make a pull request

## Expected behavior
All tests passing _including_ unit tests on macOS.

## Meta
N/A

[2022-08-05 05:05] julienlavergne opened #866 "Limit download rate"
## Is your feature request related to a problem? Please describe
Downloading files using the entire available bandwidth may lead to all sort of issues. When downloading large file, it could be the loss of the ssh connection or it could negatively affect some other process running.

## Describe the solution you'd like
Allow file.download operation to accept a limit rate parameter that is forwarded

[2022-08-05 13:03] fingon commented on #677
I'd like to have this and have the connectors somehow composable, as the machine I am running pyinfra from ISN'T one of those running lxc. Due to that, lxcssh (or something would be also nice to have.

I might tackle writing something for my use, although as my use is really (at the moment at least) limited I'm tempted just skipping pyinfra and doing stuff by hand :-) Still, keeping an eye on this

[2022-08-07 20:49] drewp opened #867 "still able to get 'dateutil.parser._parser.ParserError: Unknown string format'"
## Describe the bug

Despite #725 saying it's fixed, I got this today:
`dateutil.parser._parser.ParserError: Unknown string format: Sun Aug  7 20:37:59 America 2022`

My config is old and weird, so this is surely my fault, but perhaps the error message can be better? If that's a hassle, just close the issue.

## To Reproduce
1. don't have tzdata installed on the target
2. run the following

system

[2022-08-09 08:15] #860 closed, assigned to nobody

[2022-08-09 17:32] filips123 commented on #736
This still happens to me on the latest version from PyPI. I created a simple [example repo](https://github.com/filips123/pyinfra-permissions-bug). After running `pyinfra inventory.py deploy.py`, everything is uploaded to the server. However, only files are given the specified permissions, while directories are set to `777`:

[code]

Output of `pyinfra --support`:

[code]

Computer where I run pyin

[2022-08-10 17:25] morrison12 opened #870 "CONTRIBUTING not consistent with code (setup.cfg and pyproject.toml)"
## Describe the bug
The third bullet under [Contributing/Code Style](https://docs.pyinfra.com/en/latest/contributing.html#code-style) says _single quotes everywhere possible_ but
1. in ``setup.cfg`` line 13 is ``inline-quotes = double``
and
2. in ``pyproject.toml``  ``skip-string-normalization = true`` is not present in the ``[tool.black]`` section which ensures ``black`` will normalize quotes to